@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
b, strong {
	font-weight:bold;
}
em, i {
	font-style:italic;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=text]:focus, 
textarea:focus {outline: none}

body{
	color:#797979;
	font:13px/1.4em Arial, sans-serif;
	background: #d9f1fa url(../pic/bg.jpg) no-repeat center top;
}

html,body {
	height:100%;
	margin:0;
	padding:0;
}
a,a:link,a:visited,a:hover{outline:none;}
a { 
	text-decoration:underline; 
	color:#326da6;
}

a:hover { 
	text-decoration:underline; 
	color:#d70017;
}

section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.site_size {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

header {
	position: relative;
	height: 150px;
	//z-index: 2;
}

.logo {
	display: block;
	float: left;
	margin: 16px 0 0 0;
}

.menu_search {
	float: right;
	width: 630px;
}

.top_menu {
	height: 39px;
	margin-bottom: 13px;
	background: #14387f url(../pic/top_menu.png) no-repeat 176px 0;
	border-bottom: 1px solid #bccbde;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/js/PIE.htc);
}

.top_menu li {
	float: left;
}

.top_menu a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 15px 11px 15px;
}

.top_menu a:hover,
.top_menu a.cur {
	text-decoration:underline;
}

.search_block {
	float: left;
}

.phone div {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
}

.phone div+div {
	margin-left: 8px;
}

.phone p {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	font-weight:bold;
	font-size: 20px;
	color: #326da6;
	line-height: 1em;
	margin-left: 4px;
}

.phone span {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	font-size: 13px;
	color: #326da6;
	line-height: 1.4em;
}

.call_order {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	width: 65px;
	padding: 1px 0 10px 47px;
	line-height: 15px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #326da6;
	background: url(../pic/sprite.png) no-repeat 0 -93px;
}

.search {
	position: relative;
	float: left;
}

.search_input {
	width: 409px;
	margin: 0;
	border: none;
	border-left: 1px solid #94E5FF;
	border-bottom: 1px solid #0088B3;
	height: 28px;
	line-height: 28px;
	padding: 2px 0 2px 20px;
	background: url(../pic/sprite.png) repeat-x 0 -136px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	behavior: url(/js/PIE.htc);
}

.search_but {
	position: absolute;
	top: 2px;
	//top: 3px;
	margin: 0;
	padding: 0;
	border:none;
	right: 0;
	width: 32px;
	height: 30px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(../pic/sprite.png) no-repeat 0 -168px;
}

.search_but:hover {
	background: url(../pic/sprite.png) no-repeat 0 -198px;
}

.login_block {
	float:right;
	//width: 175px;
}

.basket {
	display: block;
	text-decoration: none !important;
	width: 174px;
	height: 51px;
	margin-bottom: 8px;
	background: url(../pic/basket_bg.png) no-repeat 0 0;
}

.basket div{
	padding: 5px 0 0 57px;
	font-size: 15px;
	font-weight:bold;
	color: #fff;
	text-shadow: 0 2px 2px #769a20;
}

.basket p {
	padding: 2px 0 0 59px;
	font-size: 13px;
	color: #fff;
}

.basket span {
	font-weight:bold;
}

.login {
	font-size: 13px;
	color: #326da6;
}

.login div {
	position: relative;
	float: left;
}

.enter {
	position: relative;
	padding-left: 22px;
	cursor: pointer;
	background: url(../pic/sprite.png) no-repeat 4px -238px;
}

.enter span {
	display: inline-block;
	border-bottom: 1px dashed #326da6;
	line-height: 12px;
}

.enter:hover {
	color: #d70017;
}
.enter:hover span {
	border-color:#d70017;
}

.enter_block {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width: 150px;
	text-decoration:none;
	padding: 12px;
	border: 1px solid #d7e842;
	border-top: 2px solid #d7e842;
	background: rgb(189,217,46);
	background: -moz-linear-gradient(top,  rgba(189,217,46,1) 0%, rgba(145,190,31,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,217,46,1)), color-stop(100%,rgba(145,190,31,1)));
	background: -webkit-linear-gradient(top,  rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);
	background: -o-linear-gradient(top,  rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);
	background: -ms-linear-gradient(top,  rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);
	background: linear-gradient(to bottom,  rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);
	box-shadow: 0 2px 4px rgba(0,0,0,.4);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/js/PIE.htc);
	z-index: 19;
}

.enter_block input[type="text"],
.enter_block input[type="password"]{
    width: 139px;
    padding: 2px 0 2px 8px;
    height: 20px;
    margin: 2px 0;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
    border: none;
}

.enter_block span {
	font-size: 13px;
	font-weight:bold;
	color: #fff;
	text-decoration:none;
	text-shadow: 0 1px 1px #769a20;
}

.remember_pass {
	display: block;
	margin-bottom: 5px;
	color: #326da6;
}

.submit, .submit_href {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	border:none;
	cursor: pointer;
	padding: 6px 16px;
	background: rgb(83,177,223);
	background: -moz-linear-gradient(top,  rgba(83,177,223,1) 0%, rgba(25,79,135,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,177,223,1)), color-stop(100%,rgba(25,79,135,1)));
	background: -webkit-linear-gradient(top,  rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);
	background: -o-linear-gradient(top,  rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);
	background: -ms-linear-gradient(top,  rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);
	background: linear-gradient(to bottom,  rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/js/PIE.htc);
}

.submit:hover, .submit_href:hover {
	background: #4086bc;
}

.submit:active {
	background: rgb(25,79,135);
	background: -moz-linear-gradient(top,  rgba(25,79,135,1) 0%, rgba(83,177,223,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,79,135,1)), color-stop(100%,rgba(83,177,223,1)));
	background: -webkit-linear-gradient(top,  rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);
	background: -o-linear-gradient(top,  rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);
	background: -ms-linear-gradient(top,  rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);
}

.reg {
	float: right;
	margin-right: 4px;
	color: #326da6;
	padding-left: 20px;
	background: url(../pic/sprite.png) no-repeat 0 -261px;
}

.slider_block {
	margin-bottom: 10px;
}

.left_bs {
	position: relative;
	float: left;
	width: 422px;
	height: 392px;
	background: url(../pic/left_bs.png) no-repeat 0 0;
	z-index: 9;
}

.left_bs a {
	position: absolute;
	display: none;
	top: 171px;
	left: 151px;
	width: 89px;
	height: 81px;
	opacity: 0;
	text-decoration:none !important;
}

.left_bs a:hover span {
	display: block;
}

.left_bs a span {
	position:absolute;
	top: 10px;
	left: 55px;
	display: none;
	font-size: 15px;
	font-weight:bold;
	color: #51adfe;
	border-right:1px solid #889bbf;
	border-bottom:1px solid #14387f;
	padding: 3px 12px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,250,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,250,253,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	z-index: 9;
}

.left_bs a ins {
	position: absolute;
	bottom: -11px;
	left: 5px;
	width: 13px;
	height: 12px;
	background: url(../pic/sprite.png) no-repeat 0 -692px;
}

.left_bsM1 {
	background: url(../pic/left_bsM.png) no-repeat 0 0;
}
.left_bsM2 {
	background: url(../pic/left_bsM.png) no-repeat 0 -80px;
}
.left_bsM3 {
	background: url(../pic/left_bsM.png) no-repeat 0 -162px;
}
.left_bsM4 {
	background: url(../pic/left_bsM.png) no-repeat 0 -242px;
}
.left_bsM5 {
	background: url(../pic/left_bsM.png) no-repeat 0 -324px;
}
.left_bsM6 {
	background: url(../pic/left_bsM.png) no-repeat 0 -405px;
}

.list_carousel {
	float: right;
	width: 532px;
	height: 381px;
	position: relative;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	position: relative;
	width: 532px;
	height: 381px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
.clearfix {
	float: none;
	clear: both;
}
.pager {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.pager a {
	display: block;
	float: left;
	width: 12px;
	text-indent: -9999px;
	height: 11px;
	margin: 0 2px;
	background: url(../pic/sprite.png) no-repeat -2px -286px;
}
.pager a.selected {
	background: url(../pic/sprite.png) no-repeat -17px -286px;
}

.slid_txt {
	position: absolute;
	bottom: 65px;
	left: 0;
	text-decoration:none !important;
	color: #fff;
	padding: 10px 60px 10px 15px;
	height: 54px;
	background: rgb(144,190,31);
	background: -moz-linear-gradient(left,  rgba(144,190,31,1) 0%, rgba(190,217,47,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(144,190,31,1)), color-stop(100%,rgba(190,217,47,1)));
	background: -webkit-linear-gradient(left,  rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);
	background: -o-linear-gradient(left,  rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);
	background: -ms-linear-gradient(left,  rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);
	background: linear-gradient(to right,  rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90be1f', endColorstr='#bed92f',GradientType=1 );
}

.slid_txt p {
	font: 13px;
}

.slid_txt p.fgh {
	font-size: 36px;
}

.slid_txt_arrow {
	display: block;
	position: absolute;
	width: 18px;
	height: 16px;
	right: 10px;
	top: 50%;
	margin-top: -8px;
	background: url(../pic/sprite.png) no-repeat -2px -304px;
}

.slid_txt:hover .slid_txt_arrow {
	background: url(../pic/sprite.png) no-repeat -2px -340px;
}

#conteiner {
	padding: 15px 10px 130px;
	//zoom: 1;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(/js/PIE.htc);
}

.left_block {
	float: left;
	width: 260px;
}

.l_title, .r_title, .s_title {
	position: relative;
	background: #3763ad;
	padding: 8px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
	z-index: 2;
}

.r_title {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	background: #93c02d;
	padding-right: 60px;
}

.s_title {
	background: none;
	padding: 0;
	margin-bottom: 10px;
}

.l_title p, .r_title p, .s_title p {
	padding-left: 25px;
	background: url(../pic/sprite.png) no-repeat -2px -302px;
	color: #fff;
	font-size: 21px;
}

.s_title p {
	background: url(../pic/sprite.png) no-repeat 0px -634px;
	color: #3763ad;
}

.acc {
	position: relative;
	top: -9px;
	padding: 7px 0 0 0;
	margin-bottom: 15px;
	border:1px solid #dceef8;
	//font-size: 0;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/js/PIE.htc);
}
.acc ul {margin:0; padding:0; list-style:none; display:none;//zoom:1}
.acc li {list-style:none; padding:0; margin:0; display:block; //zoom:1;position: relative;}
.acc a {font: 700 13px/1.2em Arial, Helvetica, sans-serif; color:#14387f;border-top:1px solid #f0f9fd; background: #f0f9fd url(../pic/sprite.png) no-repeat 20px -399px; padding:8px 10px 8px 35px; display: block; text-decoration:none;position:relative;-webkit-transition: background-color 1s ease;-moz-transition: background-color 1s ease;-o-transition: background-color 1s ease;transition: background-color 1s ease;}
.acc a:hover,
.acc a.cur { color: #93c02d;}
.acc a.harOpen {border-top:1px solid #dceef8;color: #93c02d; background: #fff url(../pic/sprite.png) no-repeat 20px -459px;}
.acc a.harOpen + ul { border-bottom:1px solid #e4f2f9; padding-bottom: 5px;}
.acc ul a {font:12px/1.2em Arial, Helvetica, sans-serif; position: relative; color:#14387f; padding:5px 10px 5px 45px; border:none; text-decoration:none; background: transparent url(../pic/sprite.png) no-repeat 33px -364px; display: inline-block;//display: inline;//zoom: 1; z-index: 2;}
.acc ul a.cur,
.acc ul a:hover { color:#d70017;}
.acc ul ul li {border-top:1px solid #b1b7be; margin:0 0 0 10px}
.acc ul ul a,
.acc ul ul a.cur {background:#CED3D9}
.acc ul ul a:hover {background:#c0c5cc}
.acc_ul_bg {
	position: absolute;
	top: 7px;
	right: 2px;
	z-index: 1;
}
.news {
	overflow: hidden;
	margin-bottom: 15px;
}

.news img {
	border:1px solid #fff;
	float: left;
	margin-right: 10px;
}

.news img:hover {
	border:1px solid #d70017;
}

.news_info {
	overflow: hidden;
}

.news_info a {
	font: 700 13px Arial;
	color: #326da6;
	text-decoration:none !important;
}

.news_info a:hover  {
	color: #d70017;
}

.news_info p {
	color: #515151;
}

.right_block {
	float: right;
	width: 650px;
	padding-left: 20px;
	border-left: 2px dashed #a8d6ff;
}

.tovar_content {
	margin: -20px 0 0 -15px;
}

.tovar_block {
	overflow: hidden;
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	padding-top: 2px;
	width: 315px;
	margin: 20px 0 0 15px;
}

.tovar_img {
	float: left;
	position: relative;
	border: 1px solid #dceef8;
	padding: 2px;
	margin-right: 15px;
	width: 155px;
	height: 155px;
	//overflow: hidden;
}

.tovar_img:hover {
	border-color: #3763ad;
}

.tovar_img a{
	display: table-cell;
	vertical-align: middle;
	height: 155px;
	overflow: hidden;
}

.tovar_img img {
	width: 100%;
}

.tovar_info {
	overflow: hidden;
}

.new_stiker {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 75px;
	height: 73px;
	background: url(../pic/new_stiker.png) no-repeat 0 0;
	z-index: 2;
}

.one_tovar_img .new_stiker {
	top: 1px;
	right: 1px;
}

.name_t {
	display: block;
 	font-size: 13px;
	font-weight: bold;
	color: #326da6;
	line-height: 1.2em;
	text-decoration:none !important;
	margin-bottom: 6px;
	//overflow: hidden;
	//max-height: 47px;
	height: 60px;
	overflow: hidden;
}

.name_t:hover {
	color: #d70017;
}

.tovar_info p {
	color: #a0b8ce;
}

.tovar_info p span {
	color: #515151;
}

.price {
	display: block;
	font: 700 20px Arial;
	color: #93c02d;
	margin: 5px 0;
}

.buy_btn {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	position: relative;
	padding: 3px 13px 5px;
	font: 700 13px Arial;
	color: #fff !important;
	text-decoration:none !important;
	border-bottom: 1px solid #194f87;
	border-top: 1px solid #99d1fe;
	box-shadow: 0 -1px 1px #3aafd6;
	background: rgb(86,185,230);
	background: -moz-linear-gradient(top,  rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));
	background: -webkit-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
}

.buy_btn:hover {
	border-bottom: 1px solid #99d1fe;
	border-top: 1px solid #194f87;
	box-shadow: 0 -1px 1px #3874ac;
	background: rgb(56,116,172);
	background: -moz-linear-gradient(top,  rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));
	background: -webkit-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -o-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -ms-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: linear-gradient(to bottom,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	
}

.content {
	padding-top: 25px;
}

.right_block .content {
	padding: 0;
}

h1 {
	font-size: 30px;
	color: #14387f;
	margin-bottom: 15px;
}

.right_block h1 {
	font-size: 37px;
	color: #93c02d;
	padding: 0 0 0 37px;
	margin-bottom: 15px;
	background: url(../pic/sprite.png) no-repeat 0 -502px;
}

.content p {
	color: #797979;
	margin-bottom: 15px;
}

.navigator {
	color: #326da6;
	margin-bottom: 10px;
}

.navigator a {
	color: #326da6;
}

.navigator a:hover {
	color: #d70017;
	text-decoration:none;
}

.sort_block {
	padding: 13px 0;
	margin-bottom: 15px;
	border-top: 2px solid #e4e9ee;
	border-bottom: 2px solid #e4e9ee;
}

.sort_block .title {
	font-weight:bold;
	font-size: 12px;
	color: #326da6;
	margin-bottom: 10px;
}

.sort {
	padding: 15px 0;
	border-top:1px dashed #c8d2dc;
}

.t_sort {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	font-size: 12px;
	color: #326da6;
	margin-right: 5px;
	line-height: 22px;
}

.s_inp {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	margin: 0 5px;
}

.s_inp a {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	margin: 0 5px;
	color: #8eafce;
	text-decoration:none;
	border-bottom:1px dashed #8eafce;
	font-size: 12px;
	line-height: 12px;
}

.s_inp a:hover,
.s_inp a.cur {
	color: #d70017;
	border-color:#d70017;
}

.s_inp input {
	height: 20px;
	padding: 0 0 0 8px;
	font-size: 11px;
	line-height: 20px;
	border: 1px solid #dceef8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.s_inp input[type="checkbox"] {
	margin: 0 5px 0 0;
	padding: 0;
	height: 22px;
	border: none;
	float: left;
}

.brend {
	margin-right: 20px;
}

.brend .s_inp label {
	position: relative;
	/*display: block;*/
	cursor: pointer;
}

.brend .s_inp label:hover .vsplivayka {
	display: block;
}

.vsplivayka {
	position: absolute;
	bottom: 14px;
	left: 55px;
	text-align:left;
	display: none;
	font-size: 15px;
	font-weight: bold;
	min-width: 260px;
	overflow: hidden;
	color: #51adfe;
	border: 1px solid #889bbf;
	padding: 3px 12px 6px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,250,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,250,253,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	z-index: 9;
}

.vsplivayka img {
	float: left;
	margin: 0 3px 2px 0;
}

.vsplivayka p {
	display: block;
	/*overflow: hidden;*/
	font-size: 11px;
	line-height: 13px;
	margin-bottom: 4px;
	color: #515151;
	font-weight: normal;
}

.vsplivayka a {
	display: block;
	text-align:center;
	border:none;
	text-decoration:underline;
	font-weight:normal;
}

.s_inp label {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align: top;
	color: #3763ad;
	line-height: 22px;
}

#from, #do, #width, #height, #length {
	width: 50px;
}

.tovar_left_block {
	float: left;
	width: 340px;
	position: relative;
	//zoom: 1;
}

.one_tovar_img {
	float: left;
	position: relative;
	border: 2px solid #dceef8;
	padding: 3px 3px;
	margin-bottom: 15px;
	width: 330px;
	overflow: hidden;
}

.tovar_img:hover {
	border-color: #3763ad;
}

.tovar_img img {
	width: 100%;
}

.min_tovar {
	float: left;
	margin: 0 5px;
}

.tovar_right_block {
	float: right;
	width: 270px;
	margin-right: 15px;
	position: relative;
	//zoom: 1;
}

.price_buy {
	padding-top: 2px;
	margin-bottom: 13px;
	overflow: hidden;
}

.price_buy p {
	float: left;
	font-size: 26px;
	line-height: 38px;
	color: #000;
}

.buy_btn_big {
	display: block;
	float: right;
	position: relative;
	padding: 5px 20px 7px;
	font: 700 16px Arial;
	color: #fff !important;
	text-decoration:none !important;
	border-bottom: 1px solid #194f87;
	border-top: 1px solid #99d1fe;
	box-shadow: 0 -1px 1px #3aafd6;
	background: rgb(86,185,230);
	background: -moz-linear-gradient(top,  rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));
	background: -webkit-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
	//zoom: 1;
}

.buy_btn_big:hover {
	border-bottom: 1px solid #99d1fe;
	border-top: 1px solid #194f87;
	box-shadow: 0 -1px 1px #3874ac;
	background: rgb(56,116,172);
	background: -moz-linear-gradient(top,  rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));
	background: -webkit-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -o-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -ms-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: linear-gradient(to bottom,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
}

.description {
	font-size: 13px;
	color: #515151;
	margin-bottom: 20px;
}

.characteristic  {
	margin-bottom: 15px;
}

.characteristic .title,
.current_tovar_model .title {
	font-size: 18px;
	color: #3763ad;
	margin-bottom: 10px;
}

.characteristic p {
	font-size: 12px;
	padding: 4px 15px;
	margin: 3px;
	color: #515151;
    overflow: hidden;
	background-color: #def2fa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.characteristic p:nth-child(odd) {
	background-color:#f0f8fe;
}

.characteristic p span {
	float: left;
	width: 85px;
	color: #a0b8ce;
}

.characteristic p ins {
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.current_tovar_model {
	padding-top: 25px;
	overflow: hidden;
	position: relative;
	width: 100%;
	//zoom: 1;
}

.current_tovar_model .price {
	float: left;
}

.current_tovar_model .buy_btn_big {
	font-weight: normal;
	padding: 3px 18px 5px;
}

.current_tovar_model table {
	margin-bottom: 15px;
}

.current_tovar_model table th {
	font-size: 12px;
	color: #a0b8ce;
	text-align:left;
	padding-left: 5px;
	vertical-align:middle;
	height: 30px;
}

.current_tovar_model table td {
	border-top:1px solid #dceef8;
	vertical-align:middle;
	padding-left: 5px;
	height: 47px;
	color: #515151;
	font-size: 13px;
}

.reviews {
	margin-bottom: 15px;
}

.reviews_title p {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	padding: 8px 25px 10px 15px;
	font-size: 18px;
	color: #fff;
	border: 1px solid #d6effa;
	border-bottom:none;
	background: rgb(88,187,232);
	background: -moz-linear-gradient(top,  rgba(88,187,232,1) 0%, rgba(62,131,185,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,187,232,1)), color-stop(100%,rgba(62,131,185,1)));
	background: -webkit-linear-gradient(top,  rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);
	background: -o-linear-gradient(top,  rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);
	background: -ms-linear-gradient(top,  rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);
	background: linear-gradient(to bottom,  rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(/js/PIE.htc);
}

.reviews_content {
	position: relative;
	overflow: hidden;
	top: -4px;
	padding: 20px 17px;
	margin-right: 15px;
	background: #f0f8fe;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
}

.recall {
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 2px dashed #a1d3fe;
}

.recall_img {
	float: left;
	margin-right: 13px;
}

.recall_txt {
	overflow: hidden;
}

.recall_txt h3 {
	font-size: 15px;
	font-weight:bold;
	color: #3763ad;
	margin-bottom: 3px;
}

.recall_txt p {
	font-size: 13px;
	color: #000;
}

.answer {
	display: block;
	float: right;
	position: relative;
	padding: 2px 12px 4px;
	font: 700 13px Arial;
	color: #fff !important;
	text-decoration:none !important;
	border-bottom: 1px solid #194f87;
	border-top: 1px solid #99d1fe;
	box-shadow: 0 -1px 1px #3aafd6;
	background: rgb(86,185,230);
	background: -moz-linear-gradient(top,  rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));
	background: -webkit-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/js/PIE.htc);
}

.answer:hover {
	border-bottom: 1px solid #99d1fe;
	border-top: 1px solid #194f87;
	box-shadow: 0 -1px 1px #3874ac;
	background: rgb(56,116,172);
	background: -moz-linear-gradient(top,  rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));
	background: -webkit-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -o-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: -ms-linear-gradient(top,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	background: linear-gradient(to bottom,  rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);
	
}

.page_list, .page_listbot {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	color: #326da6;
	overflow: hidden;
	margin: 20px 0;
}

.page_list {
	float: right;
	margin: 0 5px 0 0;
}

.page_list a,
.page_listbot a {
	float: left;
	font-size: 12px;
	display: block;
	padding: 2px 7px;
	margin: 0 2px;
	text-decoration: none !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.page_listbot a {
	font-size: 14px;
}

.page_list a.cur,
.page_listbot a.cur{
	background: #dceefa;
	color:red;
}

.page_list span,
.page_listbot span {
	float: left;
	display: block;
	margin: 0 2px;
}

.current_tovar_model_cont {
	color: #515151;
	font-size: 13px;
	margin-bottom: 25px;
}

.current_tovar_model_cont li {
	list-style: inside disc;
}

.current_tovar_model_cont p {
	margin-bottom: 10px;
}

.overflow { 
	overflow:hidden; 
	//zoom:1;
}

.mb15 {
	margin-bottom: 15px;
}

.tac {
	text-align:center;
}

.table  {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #d8d3ce;
  width: 100%;
  margin: 10px 0 18px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #d8d3ce;
  border-left: 1px dotted #d8d3ce;
}

.table th:first-child,
.table td:first-child {
	border-left:none;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.clear {
	clear: both;
}

.imgLeft {
	margin:4px 10px 2px 0;
	float:left !important; 
	clear:both; 
}
.imgRight {
	margin:4px 0 2px 10px;
	float:right !important;
	clear:both; 
}
/*placeholder*/
::-webkit-input-placeholder  { color:#ccc; }
input:-moz-placeholder { color:#ccc; }

.helper {
	display:-moz-inline-box; 
	display:inline-block; 
	height:100%; 
	width:0px; 
	vertical-align:middle; zoom:1; 
	//display:inline; 
	font-size:0;
}
.middle_inner,.middle { 
	vertical-align:middle !important; 
	display:inline-block !important; 
	//display:inline !important; 
	//zoom:1;
}

.n_list { padding:0 0 20px;}
.n_list .n_item:first-child { border:0;}
.n_item {border-top:1px solid #a8d6ff; padding:16px 0 16px; overflow:hidden; //zoom:1;}
.n_txt { overflow:hidden; //zoom:1; min-width:200px}
.n_head { padding:0 0 2px 0;}
.n_name { font: 700 13px Arial; color: #326da6;text-decoration:none !important;}
.n_info { font:10px/1.2em  Tahoma, Geneva, sans-serif; color:gray; padding:0 0 0 5px;}
.n_content {color: #515151;margin-bottom: 15px;}
.n_pic {
	float:left;
	margin:0 15px 5px 0;
}

.but,.form_style .but {
	font:700 12px/20px Tahoma, Geneva, sans-serif !important;
	color:#999;
	height:22px;
	padding:4px 10px;
	display:inline-block;		
	text-decoration:none;
	border:1px solid #afafaf !important;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	-moz-box-shadow:0 2px 4px #ccc;
	-webkit-box-shadow:0 2px 4px #ccc;
	-khtml-box-shadow:0 2px 4px #ccc;
	box-shadow:0 2px 4px #ccc;
	margin:0;
	//display:inline; 
	//zoom:1; 
	position:relative;
	z-index:1;
	vertical-align:bottom;
	width:auto !important;
}
input.but,.form_style input.but{padding:3px 20px 5px;height:32px;//padding:3px 2px 5px;}
.but:hover,.form_style .but:hover{ text-decoration:none; color:#000!important; background:#fff  !important; border:1px solid #b9b9c3 !important;}







/*forms*/
.row { padding:0 0 5px 0; position:relative}
.form_style { display:block; padding:10px 0 15px 0;}
.form_style label { padding:2px 0 0 0; text-align:right; display:inline-block; vertical-align:top; color: #515151;}
.form_style label.t_radio { width:auto !important; margin:0 0 0 3px; padding:0 0 0 0}
.form_style input, .form_style textarea, .form_style select {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
	vertical-align:top;
	/*transition effect*/
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

/*form size*/
.form_style input[type="text"],.form_style input[type="password"],.form_style textarea {width:250px} 
.validat input[type=checkbox],.validat input[type=radio] { height:auto !important}
.form_style select { width:260px}
.form_style label {width:150px}
.form_style select, .form_style input[type="file"] {height: 27px;line-height: 27px;}

.form_style input:focus, .form_style textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.form_style input[type=file]:focus, .form_style input[type=checkbox]:focus, .form_style select:focus { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: 1px dotted #666;}
.form_style textarea {height: auto;}
.form_style input, .form_style textarea {width:340px;-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}
.form_style .row table { display:inline-block; vertical-align:top; //display:inline; //zoom:1}
.form_style .row table td { vertical-align:top; padding:0 10px 0 0}
.form_style .row table td .update_captcha { text-align:left;margin:0 0 0 5px}
.form_style #image {margin:0 0 0 5px !important; height:28px}
.sdvig {}
.help { color:green}

input[name="hislo"] {
    font-size: 16px !important;
	width:auto !important;
}

#footer {
	margin: -104px auto 0;
	height: 104px;  
	position: relative;
}

#footer .site_size {
	height: 103px;
	background: #fff;
	border-top: 2px dashed #a8d6ff;
}

.footer_left {
	width: 290px; 
	margin:0; 
	float:left; 
	position:relative;
}
.footer_left_ind {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	width: 155px;
	padding:20px 0 0 55px; 
	font:12px/1.2em  Arial, Geneva, sans-serif;
	color: #4072be;
	background: url(../pic/sprite.png) no-repeat 10px 16px;
}

.soc_ico {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	padding: 20px 0 0 10px;
}

.soc_ico a {
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align:top;
	width: 24px;
	height: 24px;
	margin: 0 2px;
}

.soc_ico a:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

#facebook {
	background: url(../pic/sprite.png) no-repeat 0 -62px;
}

#twitter {
	background: url(../pic/sprite.png) no-repeat -24px -62px;
}

.footer_center_ind {
	padding: 15px 210px 0 300px; 
	font:11px/1.2em Arial, Geneva, sans-serif;
}
.footer_center_ind img { 
	margin:0; 
	max-width:468px;
}
.footer_center_ind a { 
	text-decoration:none;
	color: #b4babe;
}
.footer_center_ind a:hover {color:#d70017;text-decoration:underline;}

.footer_right { 
	width: 110px; 
	float:right; 
	position:relative; 
	padding: 20px 40px 0 0;
}
.footer_right img {
	margin:-5px 5px 0 0; 
	border:0; 
	display:inline-block; 
	vertical-align:top;
}
.footer_right a, .footer_right a:hover { 
	text-decoration:none;
	font:11px/1.2em Tahoma, Geneva, sans-serif; 
	display:block;
}
.footer_right span.wezom_txt { 
	color:#b4babe; 
	text-decoration:none;
	display:inline-block; 
	vertical-align:top;
}/*\txt\*/
.footer_right a:hover span.wezom_txt {
	color:#b4babe;
}
.footer_right a span { 
	text-decoration:underline; 
	color:#b4babe;
}/*\link\*/
.footer_right a:hover span { 
	color:#d70017;
}/*\hover\*/
.top {
	-moz-display:inline-box;
	display:inline-block !important;
	//display:inline;
	//zoom:1;
	vertical-align:top;
}




.thumbnails{margin: 3em 0 0 -1em;text-align: center;  vertical-align: top!important;}
.thumbnail{text-decoration: none;vertical-align: top;text-align: center;margin: -2em 0 0 1em;display: inline-block;}
.thumbnail .r {width: 172px;float: left;margin-bottom:35px;}
.thumbnail .rv {width: 500px;float: left; margin-bottom:30px;}
.thumbnails a.img_link { padding:0px; background:#fff;display:inline-block;font-size:0; line-height:0;position:relative; } 
.thumbnails a.img_link:hover { background:#fff;}
.thumbnails a.img_link_video { padding:0px; background:#fff;display:inline-block;font-size:0; line-height:0;position:relative; margin-bottom:20px;}
.thumbnails a.img_link_video:hover { background:#fff;}
.item_name {font:12px/1.2em Verdana, Arial, Helvetica, sans-serif; color:#333; padding:3px 0 3px 0}

.play_icon { position:absolute; top:50%; left:50%; margin-left:-25px; margin-top:-25px;}


.table1 { margin:0 0 15px 0;}
.table1 th {background: #0072C1; color: #fff;font-weight: bold; padding: 6px 11px;text-align: left;border-right: 1px solid #D4F2FA;border-left: 1px solid #D4F2FA;}
.table1 td {padding: 6px 11px;border: 1px solid #D4F2FA; border-width:1px 1px; vertical-align: middle;line-height: 1.2em; }
.table1 tr.alt td {background: #f0f0f0;}
.table1 tr.over td {background: #f7f7f7;} 
.table1 tr.over  {outline:3px solid #e5e5e5}
.table1 tr {background-color: #fff;} 


#globus {
	position: absolute;
	top: -16px;
	left: -20px;
}


/************** 30.10.2013 ****************/
.h2ForGB {
	padding-top:20px;
	border-top: 2px solid #A8D6FF;
	font-size:20px;
	color:#93C02D;
	font-weight:bold;
}
.errorsPlace {
	text-align: center;
	margin: 15px;
}
.errorPlace, .goodPlace {
	padding: 15px 0;
	color: #fff;
	font-weight: bold;
	margin-top: 5px;
}
.goodPlace {
	background-color: #6CB862;
}
.errorPlace {
	background-color: #C97536;
}
.cList {
	margin: 10px 0;
}
.cBlock {
	padding: 10px;
}
.cName {
	font-weight: bold;
	font-size: 16px;
}
.cDate {
	font-size: 9px;
	margin-left: 10px;
}
.cContent {
	padding-left: 50px;
}
/************** 30.10.2013 ****************/