.message_list {
	list-style: none;
	margin: 0;
	padding: 0;
	position:relative;
}
.message_list li {
	padding: 0;
	margin: 0;
	background:url(../images/content_back3.gif) 0 1px repeat-x;
}
.message_head {
	cursor: pointer; border-bottom:1px solid #fff;
}
.message_body {
}
.collapse_buttons {
	text-align: right;
	padding: 10px 0 0;

}
.collapse_buttons a {
	margin-left: 15px;
	float: right;
}
.show_all_message {
	padding-right: 12px;
}
.show_recent_only {
	display: none;
	padding-right: 12px;
}
.collpase_all_message {
	padding-right: 12px;
	color: #666666;
}