#navigation {
	/*border:1px solid #5263AB;*/
	margin:0px;
	padding:0px;
	text-indent:0px;
	/*background-color:#E2E2E2;*/
	width:207px;
	background:#440408;
	margin-left:8px;
}

#navigation a.head {
	cursor:pointer;
	/*border:1px solid #CCCCCC;*/
	background:#5263AB url(../pic/menu_button_link.gif) top left no-repeat;
	color:#e2b366;
	display:block;
	font-weight:normal;
	margin:0px;
	padding:0px;
	text-indent:20px;
	text-decoration: none;
	height:31px;
	font-size:1.4em;
	line-height:2em;
}
#navigation a.head:hover {
	color:#fff; background:url(../pic/menu_button_hover.gif) top left no-repeat;
}
#navigation a.selected {
	 color:#fff; background:url(../pic/menu_button_hover.gif) top left no-repeat;
}


#navigation li li a.head_one {
	cursor:pointer;
	background:#5263AB url(../pic/menu_button_link.gif) top left no-repeat;
	color:#e2b366;
	display:block;
	font-weight:normal;
	margin:0px;
	padding:0px;
	text-indent:20px;
	text-decoration: none;
	height:31px;
	font-size:1.4em;
	line-height:2em;
}
#navigation a.head_one:hover {color:#fff; background:url(../pic/menu_button_hover.gif) top left no-repeat;}

#navigation a.current {
	background-color:#bf6d00; text-decoration:underline;
}
#navigation ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
	background:#d49328;
}
#navigation li {
	list-style:none outside none; display:inline;
}
#navigation li li a {
	color:#fff;
	display:block;
	text-indent:8px;
	text-decoration: none;
	font-size:1.4em;
	min-height:20px;height:auto !important;height:20px;
	line-height:1.2em;
	padding:5px 0 5px 14px;
	background:url(../pic/marker_menu.gif) top left no-repeat;
}
#navigation li li a:hover {
	background-color:#d37800;
	color:#fff;
	text-decoration:underline;
}

/* ********************** */


* {
	margin:0;
	padding:0;
	list-style:none;
}

#basic-accordian{
	padding:0;
	width:207px;
	position:relative;
	z-index:2;
	margin-left:8px;
	padding-top:10px;
}
#basic-accordian2{
	padding:0;
	width:207px;
	position:relative;
	z-index:2;
	margin-left:8px;
	padding-bottom:15px;
}

#basic-accordian3 {
	padding:0;
	width:207px;
	position:relative;
	z-index:2;
	margin-left:8px;
	padding-top:10px;
	padding-bottom:15px;
}

.accordion_headings{
	padding:0;
	 
	color:#e1b166;
	cursor:pointer;
	font-size:1.4em;
	height:31px;
	line-height:2em;
	white-space:nowrap;
	overflow:hidden;
}

.accordion_headings:hover{
	background:url(../pic/menu_button_hover.gif) top left no-repeat; color:#fff;
}

a.punkt_item { 
	display:block; 
	height:31px; 
	text-decoration:none; 
	color:#e1b166;
	cursor:pointer;
	line-height:2em;
	white-space:nowrap;
	overflow:hidden;
	font-weight:normal;
	text-indent:20px;
	background:url(../pic/menu_button_link.gif) top left no-repeat;
	/*width:193px;*/
	}
a.punkt_item:hover {background:url(../pic/menu_button_hover.gif) top left no-repeat; color:#fff;}	

#about #basic-accordian .about_page,
#news  #basic-accordian .news_page,
#faq  #basic-accordian2 .faq_page,
#dilers  #basic-accordian2 .dilers_page,
#contacts  #basic-accordian2 .contacts_page,
#ik_sauns  #basic-accordian3 .ik_sauns_page,
#mas_app  #basic-accordian3 .mas_app_page,
#mas_kreslo  #basic-accordian3 .mas_kreslo_page,
#mramor_gr  #basic-accordian3 .mramor_gr_page { background:url(../pic/menu_button_hover.gif) top left no-repeat; color:#fff}