.link_copyr a:hover {
	font : normal 11px Arial,  Times New Roman, sans-serif, Helvetica;;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: underline;
	color : #888D7B;
}
.link_copyr a {
	font : normal 11px Arial,  Times New Roman, sans-serif, Helvetica;;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: underline;
	color : #3D588E;
}
.link_copyr {
	font : normal 11px Arial,  Times New Roman, sans-serif, Helvetica;;
	margin : 0px 0px 0px 0px;
	TEXT-DECORATION: underline;
	color : #3D588E;
}

.text { 
text-align:justify;
margin : 10px 10px 10px 0px;
text-indent: 15px;
font-size: 12px; 
color: #3D588E; 
font-family: Arial,  Times New Roman, sans-serif, Helvetica;
}


/*>TABLES<<<<------*/
table {border-collapse: collapse;}
.table1 { margin:0 0 15px 0}
.table1 th {background: #796122; color: #fff;font-weight: bold; padding: 6px 11px;text-align: left;border-right: 1px solid #e3d9c0;border-left: 1px solid #e3d9c0;}
.table1 td {padding: 6px 11px;border: 1px solid #e3d9c0;vertical-align: top;line-height: 1.2em;}
.table1 tr.alt td {background: #e3d9c0;}
.table1 tr.over td {background: #d3c49c;} 
