﻿.g_menu { padding:0; font-size:0; margin:0; text-align:center;float:left; position:absolute; top:10px; left:0; width:100%;}
.g_menu>li { list-style:none; display:inline-block; //display:inline; //zoom:1; padding:0; background:none; position:relative; vertical-align:top; float:left;}

.g_menu a { /*Пукты родительского меню*/
color:#707070;  
text-transform:inherit; 
font:700 12px/23px Tahoma, Geneva, sans-serif; 
text-decoration:none; 
background:none; 

height:25px; /*Высота пунктов меню*/

padding:0 10px; display:inline-block; white-space:nowrap; position:relative; z-index:10; }
.g_menu a:hover,.g_menu a.cur,.g_menu a.selected {  
background:#5c5c5c; 
color:#e9e9e9; 
text-decoration:none; }
.g_menu ul { position:absolute; 

top:25px; /*Высота пунктов меню*/

left:0px; padding:0; display:none; z-index:15; margin:0}
.g_menu ul li { background:none; padding:0; display:block; position:relative;}
.g_menu ul a { /*Пукты выпадающего меню*/
color:#e9e9e9; 
background:#707070;
padding:0 10px ; 
display:block; text-align:left}
.g_menu ul a:hover { background:#505050;}

.g_menu ul ul { position:absolute; top:0; left:0;}
.g_menu ul ul li a { }
.g_menu ul ul li a:hover {background:#848484;}
.g_menu ul a.selected2 {background:#848484;}

.g_menu li.g_last {}
.g_menu li.g_first {}