﻿.menu_top {padding:0;background:none;font-size:0;padding:0 5px 0 4px; display:inline-block; margin:0}
.menu_top li { display:inline-block; //display:inline; //zoom:1; list-style:none; position:relative; padding:0;}
.menu_top a { font: 700 13px/30px Tahoma, Geneva, sans-serif; color:#999; text-decoration:none; padding:0 16px; display:inline-block; height:31px; margin:0 0 0 1px;}
.menu_top a:hover,.menu_top a.cur { background-color:#696969;background-position:4px -32px !important; color:#fff; text-decoration:none;}
.menu_top a.full:hover{background-image:url(../images/arr.gif); background-position:4px -32px; background-repeat:no-repeat;}
.menu_top a.full { background-image:url(../images/arr.gif); background-position:4px 14px; background-repeat:no-repeat;}
.menu_top a.open { background-color:#474747 !important; color:#fff; text-decoration:none;background-image:url(../images/arr.gif); background-position:4px -32px; background-repeat:no-repeat;}
.menu_top li ul { position:absolute; top:31px; left:1px; background:#474747; padding:15px 0 10px 0;-moz-border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; -khtml-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px; display:none; text-align:left; margin:0}
.menu_top li ul li {}
.menu_top li ul a { background:none !important; font:14px/1.2em Arial, Helvetica, sans-serif; color:#999}
.menu_top li ul a:hover { color:#fff; text-decoration:underline;}