﻿.tree { padding:0; margin:0;}
.tree ul { padding:0 0 0 15px;display:none; margin:0}
.tree li { list-style:none; background:url(../pic/ic_arr.gif) 0 5px no-repeat; padding:0 0 0 0px;} /*Дефолтный маркер*/
.tree li.tm { background:url(../pic/ic_minus.gif) 0 5px no-repeat;} /*Маркер минус*/
.tree li.tp { background:url(../pic/ic_plus.gif) 0 5px no-repeat;} /*Маркер плюс*/
.tree a { display:inline-block; padding:0 0 0 13px; text-decoration:underline;}
.tree a:hover { text-decoration:underline;}
.tree a.cur { color:#999; text-decoration:none;}	
.tree span { width:11px; height:16px;display:inline-block; vertical-align:top; float:left; margin:0 -11px 0 0; position:relative}
.tree li.tm>span, .tree li.tp>span { cursor:pointer;} 