.blocks_link a{display:inline-block;padding:10px 20px;border:1px solid #52679F;border-width:1px 1px 0;text-decoration:none;font:700 14px/1.2em Tahoma, Geneva, sans-serif;-moz-border-radius:20px 20px 0 0;-webkit-border-radius:20px 20px 0 0;-khtml-border-radius:20px 20px 0 0;border-radius:20px 20px 0 0;}
.blocks_link a:hover{background:#fff;color:#190191;}
.blocks_link a.cur{background:#52679F;}
.blocks_link{border-bottom:3px solid #52679F;padding:0 0 0 0;margin:0 0 20px 0;text-align:center;}
.itogo_wrap{border-top:6px solid #52679F;text-align:right;color:#52679F;font:700 14px/1.2em Arial, Helvetica, sans-serif;padding:3px 0 20px;}
.itogo_sum{font:700 16px/1.2em Arial, Helvetica, sans-serif;color:#df0000;}
.delete_tovar{width:18px;height:18px;position:absolute;top:0;left:-9px;display:block;top:-2px;}
.delete_tovar:hover{background-position:0 -18px;}
.table2 th{text-align:left;padding:10px 5px;font-weight:700;border:1px dashed #ccc;}
.table2 td{border:1px dashed #ccc;padding:10px 5px}
.logo_2{border:0 !important;float:right !important;margin-top:-40px !important;}