@charset "utf-8";html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
@font-face{font-family:'Franklin_Gothic_Heavy';src:url('fonts/franklin_gothic.eot');src:url('fonts/franklin_gothic.eot?#iefix') format('embedded-opentype'),
url('fonts/franklin_gothic.woff') format('woff'),
url('fonts/franklin_gothic.ttf') format('truetype'),
url('fonts/franklin_gothic.svg#Sri-TSCRegular') format('svg');font-weight:normal;font-style:normal;}
ol, ul{list-style:none;}
b, strong{font-weight:bold;}
em, i{font-style:italic;}
blockquote, q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input[type=text]:focus,
textarea:focus{outline:none}
body{color:#797979;font:13px/1.4em Arial, sans-serif;background:#d9f1fa url(../pic/bg.jpg) no-repeat center top;}
html,body{height:100%;margin:0;padding:0;}
a,a:link,a:visited,a:hover{outline:none;}
a{text-decoration:underline;color:#326da6;}
a:hover{text-decoration:underline;color:#d70017;}
.section{min-height:100%;height:auto !important;height:100%;}
.site_size{width:980px;margin:0 auto;position:relative;}
header{position:relative;height:150px;//z-index:2;}
.logo{display:block;float:left;margin:16px 0 0 0;}
.menu_search{float:right;width:630px;}
.top_menu{height:39px;margin-bottom:13px;background:#14387f url(../pic/top_menu.png) no-repeat 176px 0;border-bottom:1px solid #bccbde;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;-khtml-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;behavior:url(/js/PIE.htc);}
.top_menu li{float:left;}
.top_menu a{font-size:13px;color:#fff;text-decoration:none;display:block;padding:10px 14px 11px 14px;}
.top_menu a:hover,
.top_menu a.cur{text-decoration:underline;}
.search_block{float:left;}
.phone div{display:inline-block;//display:inline;//zoom:1;vertical-align:top;}
.phone div+div{margin-left:8px;}
.phone p{display:block;//display:inline;//zoom:1;vertical-align:top;font-weight:bold;font-size:20px;color:#326da6;line-height:1em;margin-left:4px;}
.phone span{display:inline-block;//display:inline;//zoom:1;vertical-align:top;font-size:13px;color:#326da6;line-height:1.4em;}
.call_order{display:inline-block;//display:inline;//zoom:1;vertical-align:top;width:65px;padding:1px 0 10px 47px;line-height:15px;margin-left:10px;font-size:13px;font-weight:bold;color:#326da6;background:url(../pic/sprite.png) no-repeat 0 -93px;}
.search{position:relative;float:left;clear: both;}
.search_input{width:409px;margin:0;border:none;border-left:1px solid #94E5FF;border-bottom:1px solid #0088B3;height:28px;line-height:28px;padding:2px 0 2px 20px;background:url(../pic/sprite.png) repeat-x 0 -136px;-moz-border-radius:12px;-webkit-border-radius:12px;-khtml-border-radius:12px;border-radius:12px;behavior:url(/js/PIE.htc);}
.search_but{position:absolute;top:2px;//top:3px;margin:0;padding:0;border:none;right:0;width:32px;height:30px;cursor:pointer;text-indent:-9999px;background:url(../pic/sprite.png) no-repeat 0 -168px;}
.search_but:hover{background:url(../pic/sprite.png) no-repeat 0 -198px;}
.login_block{float:right;//width:175px;}
.basket{display:block;text-decoration:none !important;width:174px;height:51px;margin-bottom:8px;background:url(../pic/basket_bg.png) no-repeat 0 0;}
.basket div{padding:5px 0 0 57px;font-size:15px;font-weight:bold;color:#fff;text-shadow:0 2px 2px #769a20;}
.basket p{padding:2px 0 0 59px;font-size:13px;color:#fff;}
.basket span{font-weight:bold;}
.login{font-size:13px;color:#326da6;}
.login div{position:relative;float:left;}
.enter{position:relative;padding-left:22px;cursor:pointer;background:url(../pic/sprite.png) no-repeat 4px -238px;}
.enter span{display:inline-block;border-bottom:1px dashed #326da6;line-height:12px;}
.enter:hover{color:#d70017;}
.enter:hover span{border-color:#d70017;}
.enter_block{display:none;position:absolute;top:20px;left:0;width:150px;text-decoration:none;padding:12px;border:1px solid #d7e842;border-top:2px solid #d7e842;background:rgb(189,217,46);background:-moz-linear-gradient(top, rgba(189,217,46,1) 0%, rgba(145,190,31,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,217,46,1)), color-stop(100%,rgba(145,190,31,1)));background:-webkit-linear-gradient(top, rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);background:-o-linear-gradient(top, rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);background:-ms-linear-gradient(top, rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);background:linear-gradient(to bottom, rgba(189,217,46,1) 0%,rgba(145,190,31,1) 100%);box-shadow:0 2px 4px rgba(0,0,0,.4);-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;behavior:url(/js/PIE.htc);z-index:19;}
.enter_block input[type="text"],
.enter_block input[type="password"]{width:139px;padding:2px 0 2px 8px;height:20px;margin:2px 0;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);box-shadow:inset 0 1px 5px rgba(0,0,0,0.3);border:none;}
.enter_block span{font-size:13px;font-weight:bold;color:#fff;text-decoration:none;text-shadow:0 1px 1px #769a20;}
.remember_pass{display:block;margin-bottom:5px;color:#326da6;}
.submit, .submit_href{display:block;font-size:13px;font-weight:bold;color:#fff;margin:0 auto;border:none;cursor:pointer;padding:6px 16px;background:rgb(83,177,223);background:-moz-linear-gradient(top, rgba(83,177,223,1) 0%, rgba(25,79,135,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,177,223,1)), color-stop(100%,rgba(25,79,135,1)));background:-webkit-linear-gradient(top, rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);background:-o-linear-gradient(top, rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);background:-ms-linear-gradient(top, rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);background:linear-gradient(to bottom, rgba(83,177,223,1) 0%,rgba(25,79,135,1) 100%);-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;behavior:url(/js/PIE.htc);}
.submit:hover, .submit_href:hover{background:#4086bc;}
.submit:active{background:rgb(25,79,135);background:-moz-linear-gradient(top, rgba(25,79,135,1) 0%, rgba(83,177,223,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,79,135,1)), color-stop(100%,rgba(83,177,223,1)));background:-webkit-linear-gradient(top, rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);background:-o-linear-gradient(top, rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);background:-ms-linear-gradient(top, rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);background:linear-gradient(to bottom, rgba(25,79,135,1) 0%,rgba(83,177,223,1) 100%);}
.reg{float:right;margin-right:4px;color:#326da6;padding-left:20px;background:url(../pic/sprite.png) no-repeat 0 -261px;}
.slider_block{margin-bottom:10px;}
.left_bs{position:relative;float:left;width:422px;height:392px;background:url(../pic/left_bs.png) no-repeat 0 0;z-index:9;}
.left_bs a{position:absolute;display:none;top:171px;left:151px;width:89px;height:81px;opacity:0;text-decoration:none !important;}
.left_bs a:hover span{display:block;}
.left_bs a span{position:absolute;top:10px;left:55px;display:none;font-size:15px;font-weight:bold;color:#51adfe;border-right:1px solid #889bbf;border-bottom:1px solid #14387f;padding:3px 12px;background:rgb(255,255,255);background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,250,253,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,250,253,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;z-index:9;}
.left_bs a ins{position:absolute;bottom:-11px;left:5px;width:13px;height:12px;background:url(../pic/sprite.png) no-repeat 0 -692px;}
.left_bsM1{background:url(../pic/left_bsM.png) no-repeat 0 0;}
.left_bsM2{background:url(../pic/left_bsM.png) no-repeat 0 -80px;}
.left_bsM3{background:url(../pic/left_bsM.png) no-repeat 0 -162px;}
.left_bsM4{background:url(../pic/left_bsM.png) no-repeat 0 -242px;}
.left_bsM5{background:url(../pic/left_bsM.png) no-repeat 0 -324px;}
.left_bsM6{background:url(../pic/left_bsM.png) no-repeat 0 -405px;}
.list_carousel{float:right;width:532px;height:381px;position:relative;}
.list_carousel ul{margin:0;padding:0;list-style:none;display:block;}
.list_carousel li{position:relative;width:532px;height:381px;padding:0;margin:0;display:block;float:left;}
.clearfix{float:none;clear:both;}
.pager{position:absolute;bottom:10px;right:10px;}
.pager a{display:block;float:left;width:12px;text-indent:-9999px;height:11px;margin:0 2px;background:url(../pic/sprite.png) no-repeat -2px -286px;}
.pager a.selected{background:url(../pic/sprite.png) no-repeat -17px -286px;}
.slid_txt{position:absolute;bottom:65px;left:0;text-decoration:none !important;color:#fff;padding:10px 60px 10px 15px;height:54px;background:rgb(144,190,31);background:-moz-linear-gradient(left, rgba(144,190,31,1) 0%, rgba(190,217,47,1) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(144,190,31,1)), color-stop(100%,rgba(190,217,47,1)));background:-webkit-linear-gradient(left, rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);background:-o-linear-gradient(left, rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);background:-ms-linear-gradient(left, rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);background:linear-gradient(to right, rgba(144,190,31,1) 0%,rgba(190,217,47,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90be1f', endColorstr='#bed92f',GradientType=1);}
.slid_txt p{font:13px;}
.slid_txt p.fgh{font-size:36px;}
.slid_txt_arrow{display:block;position:absolute;width:18px;height:16px;right:10px;top:50%;margin-top:-8px;background:url(../pic/sprite.png) no-repeat -2px -304px;}
.slid_txt:hover .slid_txt_arrow{background:url(../pic/sprite.png) no-repeat -2px -340px;}
#conteiner{padding:15px 10px 130px;//zoom:1;background:#fff;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-khtml-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;behavior:url(/js/PIE.htc);}
.left_block{float:left;width:260px;}
.l_title, .r_title, .s_title{position:relative;background:#3763ad;padding:8px 10px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);z-index:2;font-family:'Franklin_Gothic_Heavy';}
.r_title{display:inline-block;//display:inline;//zoom:1;background:#93c02d;padding-right:60px;}
.s_title{background:none;padding:0;margin-bottom:10px;}
.l_title p, .r_title p, .s_title p{padding-left:25px;background:url(../pic/sprite.png) no-repeat -2px -302px;color:#fff;font-size:21px;}
.s_title p{background:url(../pic/sprite.png) no-repeat 0px -634px;color:#3763ad;}
.acc{text-align: center;position:relative;top:-9px;padding:7px 0 0 0;margin-bottom:15px;border:1px solid #dceef8;background: #F0F9FD;//font-size:0;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;-khtml-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;behavior:url(/js/PIE.htc);}
.acc ul{width: 296%;margin:0;padding:0;list-style:none;display:none;//zoom:1}
.acc li{text-align: left; list-style:none;padding:0;margin:0;/*display:block;*/display: inline-block; vertical-align: top; width: 32%;//zoom:1;position:relative;}
.acc ul li {border: none;width: 32%;}
.acc a{font:700 13px/1.2em Arial, Helvetica, sans-serif;color:#14387f;border-top:1px solid #f0f9fd;background:#f0f9fd url(../pic/sprite.png) no-repeat 20px -399px;padding:8px 10px 8px 35px;display:block;text-decoration:none;position:relative;-webkit-transition:background-color 1s ease;-moz-transition:background-color 1s ease;-o-transition:background-color 1s ease;transition:background-color 1s ease;}
.acc a:hover,
.acc a.cur{color:#93c02d;}
.acc a.harOpen{border-top:1px solid #dceef8;color:#93c02d;background:#fff url(../pic/sprite.png) no-repeat 20px -459px;}
.acc a.harOpen + ul{border-bottom:1px solid #e4f2f9;padding-bottom:5px;background: #FFF;}
.acc ul a{font:12px/1.2em Arial, Helvetica, sans-serif;position:relative;color:#14387f;padding:5px 10px 5px 45px;border:none;text-decoration:none;background:transparent url(../pic/sprite.png) no-repeat 33px -364px;display:inline-block;//display:inline;//zoom:1;z-index:2;}
.acc ul a.cur,
.acc ul a:hover{color:#d70017;}
.acc ul ul li{border-top:1px solid #b1b7be;margin:0 0 0 10px}
.acc ul ul a,
.acc ul ul a.cur{background:#CED3D9}
.acc ul ul a:hover{background:#c0c5cc}
.acc_ul_bg{position:absolute;top:7px;right:2px;z-index:1;}
.news{overflow:hidden;margin-bottom:15px;}
.news img{border:1px solid #fff;float:left;margin-right:10px;}
.news img:hover{border:1px solid #d70017;}
.news_info{overflow:hidden;}
.news_info a{font:700 13px Arial;color:#326da6;text-decoration:none !important;}
.news_info a:hover{color:#d70017;}
.news_info p{color:#515151;}
.right_block{float:right;width:650px;padding-left:20px;border-left:2px dashed #a8d6ff;}
.right_block_new{overflow: hidden;/*float:right;*//*width:650px;*/padding-left:20px;/*border-left:2px dashed #a8d6ff;*/}
.tovar_content{margin:-20px 0 0 -15px;}
.tovar_block{overflow:hidden;display:inline-block;//display:inline;//zoom:1;vertical-align:top;padding-top:2px;width:315px;margin:20px 0 0 15px;}
.tovar_img{float:left;position:relative;border:1px solid #dceef8;padding:2px;margin-right:15px;width:155px;height:155px;//overflow:hidden;}
.tovar_img:hover{border-color:#3763ad;}
.tovar_img a{display:table-cell;vertical-align:middle;height:155px;overflow:hidden;}
.tovar_img img{width:100%;}
.tovar_info{overflow:hidden;}
.new_stiker{position:absolute;top:-3px;right:-3px;width:75px;height:73px;background:url(../pic/new_stiker.png) no-repeat 0 0;z-index:2;}
.one_tovar_img .new_stiker{top:1px;right:1px;}
.name_t{display:block;font-size:13px;font-weight:bold;color:#326da6;line-height:1.2em;text-decoration:none !important;margin-bottom:6px;//overflow:hidden;//max-height:47px;height:60px;overflow:hidden;}
.name_t:hover{color:#d70017;}
.tovar_info p{color:#a0b8ce;}
.tovar_info p span{color:#515151;}
.price{display:block;font:700 20px Arial;color:#93c02d;margin:5px 0;}
.buy_btn{display:inline-block;//display:inline;//zoom:1;position:relative;padding:3px 13px 5px;font:700 13px Arial;color:#fff !important;text-decoration:none !important;border-bottom:1px solid #194f87;border-top:1px solid #99d1fe;box-shadow:0 -1px 1px #3aafd6;background:rgb(86,185,230);background:-moz-linear-gradient(top, rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));background:-webkit-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-o-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-ms-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:linear-gradient(to bottom, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);}
.buy_btn:hover{border-bottom:1px solid #99d1fe;border-top:1px solid #194f87;box-shadow:0 -1px 1px #3874ac;background:rgb(56,116,172);background:-moz-linear-gradient(top, rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));background:-webkit-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-o-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-ms-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:linear-gradient(to bottom, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);}
.content{padding-top: 20px;}
.right_block .content{padding:0;}
h1{font-size:30px;color:#14387f;margin-bottom:15px;line-height:100%;}
.right_block h1{font-size:37px;color:#93c02d;padding:0 0 0 37px;margin-bottom:15px;background:url(../pic/sprite.png) no-repeat 0 -502px;font-family:'Franklin_Gothic_Heavy';}
.content p{color:#797979;margin-bottom:15px;}
.navigator{color:#326da6;margin: 10px 0;}
.navigator a{color:#326da6;}
.navigator a:hover{color:#d70017;text-decoration:none;}
.sort_block{padding:13px 0;margin-bottom:15px;border-top:2px solid #e4e9ee;border-bottom:2px solid #e4e9ee;}
.sort_block .title{font-weight:bold;font-size:12px;color:#326da6;margin-bottom:10px;}
.sort{padding:10px 0;border-top:1px dashed #c8d2dc;}
.t_sort{display:inline-block;//display:inline;//zoom:1;vertical-align:top;position: relative;font-weight: 700;text-transform:uppercase;font-size:16px;color:#93c02d;margin-right:5px;line-height:22px;}
.sort>.t_sort:hover{cursor: pointer;color: #14387f;}
.s_inp{display:inline-block;//display:inline;//zoom:1;vertical-align:top;margin:0 5px;}
.sort > .t_sort:after{
	content:'';
	color:inherit;
	border-top:8px solid ;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -4px;
}
.sort.showed_list > .t_sort:after{
	transform:rotate(-90deg);
}
@media only screen and (min-width:981px){
	.t_sort,
	.brend .s_inp {
		display: block;
	}
}
.s_inp a{display:inline-block;//display:inline;//zoom:1;margin:0 5px;color:#8eafce;text-decoration:none;border-bottom:1px dashed #8eafce;font-size:12px;line-height:12px;}
.s_inp a:hover,
.s_inp a.cur{color:#d70017;border-color:#d70017;}
.s_inp input{height:20px;padding:0 0 0 8px;font-size:11px;line-height:20px;border:1px solid #dceef8;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;}
.s_inp input[type="checkbox"]{margin:0 5px 0 0;padding:0;height:22px;border:none;float:left;}
.showed_list .brend{display: block;}
.brend{margin-right:20px;display: none;}
.brend .s_inp label{position:relative;cursor:pointer;}
.brend .s_inp label:hover .vsplivayka{display:block;}
.vsplivayka{position:absolute;bottom:14px;left:55px;text-align:left;display:none;font-size:15px;font-weight:bold;min-width:260px;overflow:hidden;color:#51adfe;border:1px solid #889bbf;padding:3px 12px 6px;background:rgb(255,255,255);background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,250,253,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,250,253,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(240,250,253,1) 100%);-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;z-index:9;}
.vsplivayka img{float:left;margin:0 3px 2px 0;}
.vsplivayka p{display:block;font-size:11px;line-height:13px;margin-bottom:4px;color:#515151;font-weight:normal;}
.vsplivayka a{display:block;text-align:center;border:none;text-decoration:underline;font-weight:normal;}
.s_inp label{display:inline-block;//display:inline;//zoom:1;vertical-align:top;color:#3763ad;line-height:22px;}
#from, #do, #width, #height, #length{width:40px;}
.tovar_left_block{float:left;width:340px;position:relative;//zoom:1;}
.one_tovar_img{float:left;position:relative;border:2px solid #dceef8;padding:3px 3px;margin-bottom:15px;width:330px;overflow:hidden;}
.tovar_img:hover{border-color:#3763ad;}
.tovar_img img{width:100%;}
.min_tovar{float:left;margin:0 5px;}
.tovar_right_block{
	/*float:right;*/
	overflow: hidden;
	padding-left: 20px;
	width:auto;margin-right:15px;position:relative;//zoom:1;}
.tovar_right_video iframe{width: 100%;}
.price_buy{
	width: 200px;
	padding-top:2px;margin-bottom:13px;overflow:hidden;}
.fl_l{float: left;}
.price_buy p{font-size:26px;line-height:38px;color:#000;}
.price_buy .clear {padding-bottom: 10px;}
.buy_btn_big{display:block;position:relative;padding: 10px 20px 12px;font: 700 20px Arial;text-align: center;margin-bottom: 8px;color:#fff !important;text-decoration:none !important;border-bottom:1px solid #194f87;border-top:1px solid #99d1fe;box-shadow:0 -1px 1px #3aafd6;background:rgb(86,185,230);background:-moz-linear-gradient(top, rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));background:-webkit-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-o-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-ms-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:linear-gradient(to bottom, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);//zoom:1;}
.buy_btn_big:hover{border-bottom:1px solid #99d1fe;border-top:1px solid #194f87;box-shadow:0 -1px 1px #3874ac;background:rgb(56,116,172);background:-moz-linear-gradient(top, rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));background:-webkit-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-o-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-ms-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:linear-gradient(to bottom, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);}
.description{font-size:13px;color:#515151;margin-bottom:20px;}
.price_buy .get_skidka {
	float: none;
	text-align: center;
	font-size: 14px;
}
.price_buy .foundpure_style {
	text-align: center;
	float: none;
	display: block;
}
.js_catalog_open_btn{cursor: pointer; color:#fff;}
.js_catalog_open_btn:hover{text-decoration: underline;background: #93c02d;}

.characteristic_top{
	/*overflow: hidden;*/
	float: right;
	width: 300px;
	padding-left: 1%;
	padding-bottom: 15px;
}
.characteristic_top_list li{
	display: block;
	position: relative;
	border-bottom: 1px dashed;
	font-size: 12px;
	line-height: 18px;
	padding: 4px 4px 4px 30px;
}
.characteristic_top_list li:before{
	content:"";
	display: block;
	position: absolute;
	left:0;top:0px;
	width: 24px;
	height: 23px;
	background-image: url(../pic/char_top_list.png);
	background-repeat: no-repeat;
}
.characteristic_top_list li.payment:before{background-position: 0 -48px;}
.characteristic_top_list li.delivery:before{background-position: 0 0;}
.characteristic_top_list li.climb:before{background-position: 0 -24px;}
.characteristic_top_list li.installation:before{background-position: 0 -72px;}
.characteristic_top_list li.warranty:before{background-position: 0 -96px;}
.characteristic_top_list .value{
	float: right;
	width:70px;
	font-size: 12px;
	color:#000;
}
.characteristic_top_list .value span{
	display: block;
}
.characteristic_top_list .name{
	overflow: hidden;
}

.characteristic{margin-bottom:15px;}
.characteristic .title,
.current_tovar_model .title,
.tovar-info-content .title{font-size:18px;color:#3763ad;margin-bottom:10px;}
.characteristic p{font-size:12px;padding:4px 15px;margin:3px;color:#515151;overflow:hidden;background-color:#def2fa;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
.characteristic p:nth-child(odd){background-color:#f0f8fe;}
.characteristic p > span{float:left;width:50%;color:#a0b8ce;}
.characteristic p ins{display:block;overflow:hidden;text-decoration:none;}
.current_tovar_model{padding-top:25px;overflow:hidden;position:relative;width:100%;//zoom:1;}
.current_tovar_model .price{float:left;}
.current_tovar_model .buy_btn_big{font-weight:normal;padding:3px 18px 5px;}
.current_tovar_model table{margin-bottom:15px;}
.current_tovar_model table th{font-size:12px;color:#a0b8ce;text-align:left;padding-left:5px;vertical-align:middle;height:30px;}
.current_tovar_model table td{border-top:1px solid #dceef8;vertical-align:middle;padding-left:5px;height:47px;color:#515151;font-size:13px;}
.reviews{margin-bottom:15px;}
.reviews_title p{display:inline-block;//display:inline;//zoom:1;padding:8px 25px 10px 15px;font-size:18px;color:#fff;border:1px solid #d6effa;border-bottom:none;background:rgb(88,187,232);background:-moz-linear-gradient(top, rgba(88,187,232,1) 0%, rgba(62,131,185,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,187,232,1)), color-stop(100%,rgba(62,131,185,1)));background:-webkit-linear-gradient(top, rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);background:-o-linear-gradient(top, rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);background:-ms-linear-gradient(top, rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);background:linear-gradient(to bottom, rgba(88,187,232,1) 0%,rgba(62,131,185,1) 100%);-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;behavior:url(/js/PIE.htc);}
.reviews_content{position:relative;overflow:hidden;top:-4px;padding:20px 17px;margin-right:15px;background:#f0f8fe;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);}
.recall{overflow:hidden;margin-bottom:15px;padding-bottom:15px;border-bottom:2px dashed #a1d3fe;}
.recall_img{float:left;margin-right:13px;}
.recall_txt{overflow:hidden;}
.recall_txt h3{font-size:15px;font-weight:bold;color:#3763ad;margin-bottom:3px;}
.recall_txt p{font-size:13px;color:#000;}
.answer{display:block;float:right;position:relative;padding:2px 12px 4px;font:700 13px Arial;color:#fff !important;text-decoration:none !important;border-bottom:1px solid #194f87;border-top:1px solid #99d1fe;box-shadow:0 -1px 1px #3aafd6;background:rgb(86,185,230);background:-moz-linear-gradient(top, rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));background:-webkit-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-o-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-ms-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:linear-gradient(to bottom, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);}
.answer:hover{border-bottom:1px solid #99d1fe;border-top:1px solid #194f87;box-shadow:0 -1px 1px #3874ac;background:rgb(56,116,172);background:-moz-linear-gradient(top, rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));background:-webkit-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-o-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-ms-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:linear-gradient(to bottom, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);}
.page_list, .page_listbot{display:inline-block;//display:inline;//zoom:1;color:#326da6;overflow:hidden;margin:20px 0;}
.page_list{float:right;margin:0 5px 0 0;}
.page_list a,
.page_listbot a{float:left;font-size:12px;display:block;padding:2px 7px;margin:0 2px;text-decoration:none !important;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
.page_listbot a{font-size:14px;}
.page_list a.cur,
.page_listbot a.cur{background:#dceefa;color:red;}
.page_list span,
.page_listbot span{float:left;display:block;margin:0 2px;}
.current_tovar_model_cont{color:#515151;font-size:13px;margin-bottom:25px;}
.current_tovar_model_cont li{list-style:inside disc;}
.current_tovar_model_cont p{margin-bottom:10px;}
.overflow{overflow:hidden;//zoom:1;}
.mb15{margin-bottom:15px;}
.tac{text-align:center;}
.table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;border-bottom:1px solid #d8d3ce;width:100%;margin:10px 0 18px;}
.table th,
.table td{padding:8px;line-height:18px;text-align:left;vertical-align:top;border-top:1px solid #d8d3ce;border-left:1px dotted #d8d3ce;}
.table th:first-child,
.table td:first-child{border-left:none;}
.table th{font-weight:bold;}
.table thead th{vertical-align:bottom;}
.clear{clear:both;}
.imgLeft{margin:4px 10px 2px 0;float:left !important;clear:both;}
.imgRight{margin:4px 0 2px 10px;float:right !important;clear:both;}
::-webkit-input-placeholder{color:#ccc;}
input:-moz-placeholder{color:#ccc;}
.helper{display:-moz-inline-box;display:inline-block;height:100%;width:0px;vertical-align:middle;zoom:1;//display:inline;font-size:0;}
.middle_inner,.middle{vertical-align:middle !important;display:inline-block !important;//display:inline !important;//zoom:1;}
.n_list{padding:0 0 20px;}
.n_list .n_item:first-child{border:0;}
.n_item{border-top:1px solid #a8d6ff;padding:16px 0 16px;overflow:hidden;//zoom:1;}
.n_txt{overflow:hidden;//zoom:1;min-width:200px}
.n_head{padding:0 0 2px 0;}
.n_name{font:700 13px Arial;color:#326da6;text-decoration:none !important;}
.n_info{font:10px/1.2em Tahoma, Geneva, sans-serif;color:gray;padding:0 0 0 5px;}
.n_content{color:#515151;margin-bottom:15px;}
.n_pic{float:left;margin:0 15px 5px 0;}
.but,.form_style .but{font:700 12px/20px Tahoma, Geneva, sans-serif !important;color:#999;height:22px;padding:4px 10px;display:inline-block;text-decoration:none;border:1px solid #afafaf !important;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;cursor:pointer;-moz-box-shadow:0 2px 4px #ccc;-webkit-box-shadow:0 2px 4px #ccc;-khtml-box-shadow:0 2px 4px #ccc;box-shadow:0 2px 4px #ccc;margin:0;//display:inline;//zoom:1;position:relative;z-index:1;vertical-align:bottom;width:auto !important;}
input.but,.form_style input.but{padding:3px 20px 5px;height:32px;//padding:3px 2px 5px;}
.but:hover,.form_style .but:hover{text-decoration:none;color:#000!important;background:#fff !important;border:1px solid #b9b9c3 !important;}
.row{padding:0 0 5px 0;position:relative}
.form_style{display:block;padding:10px 0 20px 0;}
.form_style label{padding:2px 0 0 0;text-align:right;display:inline-block;vertical-align:top;color:#515151;}
.form_style label.t_radio{width:auto !important;margin:0 0 0 3px;padding:0 0 0 0}
.form_style input, .form_style textarea, .form_style select{border:1px solid #CCCCCC;border-radius:3px 3px 3px 3px;color:#808080;display:inline-block;font-size:13px;height:18px;line-height:18px;padding:4px;vertical-align:top;-moz-transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset;}
.form_style input[type="text"],.form_style input[type="password"],.form_style textarea{width:250px}
.validat input[type=checkbox],.validat input[type=radio]{height:auto !important}
.form_style select{width:260px}
.form_style label{width:150px}
.form_style select, .form_style input[type="file"]{height:27px;line-height:27px;}
.form_style input:focus, .form_style textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
.form_style input[type=file]:focus, .form_style input[type=checkbox]:focus, .form_style select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666;}
.form_style textarea{height:auto;}
.form_style input, .form_style textarea{width:340px;-moz-transition:border 0.2s linear 0s, box-shadow 0.2s linear 0s;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset;}
.form_style .row table{display:inline-block;vertical-align:top;//display:inline;//zoom:1}
.form_style .row table td{vertical-align:top;padding:0 10px 0 0}
.form_style .row table td .update_captcha{text-align:left;margin:0 0 0 5px}
.form_style #image{margin:0 0 0 5px !important;height:28px}
.sdvig{}
.help{color:green}
input[name="hislo"]{font-size:16px !important;width:auto !important;}
#footer{margin:-104px auto 0;height:104px;position:relative;}
#footer .site_size{height:103px;background:#fff;border-top:2px dashed #a8d6ff;}
.footer_left{margin:0;float:left;position:relative;}
.footer_left_ind{display:inline-block;//display:inline;//zoom:1;width:155px;padding:20px 0 0 55px;font:12px/1.2em Arial, Geneva, sans-serif;color:#4072be;background:url(../pic/sprite.png) no-repeat 10px 16px;}
.soc_ico{display:inline-block;vertical-align:top;padding:20px 0 0 10px;}

.soc_ico a {
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	margin: 0 2px;
	fill: #14387f;
	position: relative;
}

.soc_ico a svg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	max-width: 24px;
	max-height: 24px;
}

.soc_ico a:hover {
	fill: #466fbf;
}
#facebook{background:url(../pic/sprite.png) no-repeat 0 -62px;}
#twitter{background:url(../pic/sprite.png) no-repeat -24px -62px;}
.footer_center_ind{padding:15px 210px 0 300px;font:11px/1.2em Arial, Geneva, sans-serif;}
.footer_center_ind img{margin:0;max-width:468px;}
.footer_center_ind a{text-decoration:none;color:#b4babe;}
.footer_center_ind a:hover{color:#d70017;text-decoration:underline;}
.footer_right{width:110px;float:right;position:relative;padding:20px 40px 0 0;}
.footer_right img{margin:-5px 5px 0 0;border:0;display:inline-block;vertical-align:top;}
.footer_right a, .footer_right a:hover{text-decoration:none;font:11px/1.2em Tahoma, Geneva, sans-serif;display:block;}
.footer_right span.wezom_txt{color:#b4babe;text-decoration:none;display:inline-block;vertical-align:top;}
.footer_right a:hover span.wezom_txt{color:#b4babe;}
.footer_right a span{text-decoration:underline;color:#b4babe;}
.footer_right a:hover span{color:#d70017;}
.top{-moz-display:inline-box;display:inline-block !important;//display:inline;//zoom:1;vertical-align:top;}
.thumbnails{margin:3em 0 0 -1em;text-align:center;vertical-align:top!important;}
.thumbnail{text-decoration:none;vertical-align:top;text-align:center;margin:-2em 0 0 1em;display:inline-block;}
.thumbnail .r{width:172px;float:left;margin-bottom:35px;}
.thumbnail .rv{width:500px;float:left;margin-bottom:30px;}
.thumbnails a.img_link{padding:0px;background:#fff;display:inline-block;font-size:0;line-height:0;position:relative;}
.thumbnails a.img_link:hover{background:#fff;}
.thumbnails a.img_link_video{padding:0px;background:#fff;display:inline-block;font-size:0;line-height:0;position:relative;margin-bottom:20px;}
.thumbnails a.img_link_video:hover{background:#fff;}
.item_name{font:12px/1.2em Verdana, Arial, Helvetica, sans-serif;color:#333;padding:3px 0 3px 0}
.play_icon{position:absolute;top:50%;left:50%;margin-left:-25px;margin-top:-25px;}
.table1{margin:0 0 15px 0;}
.table1 th{background:#0072C1;color:#fff;font-weight:bold;padding:6px 11px;text-align:left;border-right:1px solid #D4F2FA;border-left:1px solid #D4F2FA;}
.table1 td{padding:6px 11px;border:1px solid #D4F2FA;border-width:1px 1px;vertical-align:middle;line-height:1.2em;}
.table1 tr.alt td{background:#f0f0f0;}
.table1 tr.over td{background:#f7f7f7;}
.table1 tr.over{outline:3px solid #e5e5e5}
.table1 tr{background-color:#fff;}
#globus{position:absolute;top:-16px;left:-20px;}
.h2ForGB{padding-top:20px;border-top:2px solid #A8D6FF;font-size:20px;color:#93C02D;font-weight:bold;}
.errorsPlace{text-align:center;margin:15px;}
.errorPlace, .goodPlace{padding:15px 0;color:#fff;font-weight:bold;margin-top:5px;}
.goodPlace{background-color:#6CB862;}
.errorPlace{background-color:#C97536;}
.cList{margin:10px 0;}
.cBlock{padding:10px;}
.cName{font-weight:bold;font-size:16px;}
.cDate{font-size:9px;margin-left:10px;}
.cContent{padding-left:50px;}
.get_skidka{}
.get_skidka{display:block;float:left;position:relative;padding:5px 10px 7px;font:700 16px Arial;color:#fff !important;text-decoration:none !important;border-bottom:1px solid #194f87;border-top:1px solid #99d1fe;box-shadow:0 -1px 1px #3aafd6;background:rgb(86,185,230);background:-moz-linear-gradient(top, rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));background:-webkit-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-o-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-ms-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:linear-gradient(to bottom, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);//zoom:1;}
.get_skidka:hover{border-bottom:1px solid #99d1fe;border-top:1px solid #194f87;box-shadow:0 -1px 1px #3874ac;background:rgb(56,116,172);background:-moz-linear-gradient(top, rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));background:-webkit-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-o-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-ms-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:linear-gradient(to bottom, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);}
.get_skidka_min{display:inline-block;//display:inline;//zoom:1;position:relative;padding:3px 10px 5px;font:700 13px Arial;color:#fff !important;text-decoration:none !important;border-bottom:1px solid #194f87;border-top:1px solid #99d1fe;box-shadow:0 -1px 1px #3aafd6;background:rgb(86,185,230);background:-moz-linear-gradient(top, rgba(86,185,230,1) 0%, rgba(56,116,172,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,185,230,1)), color-stop(100%,rgba(56,116,172,1)));background:-webkit-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-o-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:-ms-linear-gradient(top, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);background:linear-gradient(to bottom, rgba(86,185,230,1) 0%,rgba(56,116,172,1) 100%);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;behavior:url(/js/PIE.htc);margin-top:5px;}
.get_skidka_min:hover{border-bottom:1px solid #99d1fe;border-top:1px solid #194f87;box-shadow:0 -1px 1px #3874ac;background:rgb(56,116,172);background:-moz-linear-gradient(top, rgba(56,116,172,1) 0%, rgba(86,185,230,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,116,172,1)), color-stop(100%,rgba(86,185,230,1)));background:-webkit-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-o-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:-ms-linear-gradient(top, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);background:linear-gradient(to bottom, rgba(56,116,172,1) 0%,rgba(86,185,230,1) 100%);}
.razm{display:inline-block;}
.razm div {margin-bottom:10px;}
.mob-menu{position:fixed;left:-50px;top:10px;}
.padding-t{margin-top:15px;}
@media only screen and (max-width:1024px){.site_size{width:auto;margin:0 5px;}
.left_bs{width:419px;}
}
@media only screen and (max-width:980px){.acc li{vertical-align:middle;display:inline-block;width:100%;}
#footer .site_size{height:auto;}
.footer_center_ind{padding:15px 0px 0 0px;}
.right_block .form_style{text-align:center;}
.form_style label{}
.h2ForGB{text-align:center;}
.product-block .form_style{text-align:center;}
.one_tovar_img{float:none;max-width:100%;width:auto;text-align:center;}
.one_tovar_img img{max-width:100%;}
/*.tovar_left_block{width:55%;margin:0 2%;}*/
/*.tovar_right_block{width:40%;margin-right:1%;}*/
.vsplivayka{display:none !important;}
header{height:auto;margin-bottom:15px;}
.phone p {display: inline-block;}
.logo{float:none;margin:5px auto;width:180px;}
.logo img {max-width: 100%;}
.menu_search{width:100%;float:none;}
.top_menu{text-align:center;background-position:47% 0;}
.top_menu li{float:none;display:inline-block;}
.search_block{float:none;display:inline-block;text-align:center;width:69%;vertical-align:top;}
.search{float:none;display:inline-block;}
.login_block{float:none;display:inline-block;width:30%;}
.reg{float:none;margin-right:0;margin-left:25px;}
.left_bs{display:none;}
.left_block{}
.list_carousel{float:none;margin:0 auto;}
.left_block{width:auto;float:none;padding-left: 17px;margin-bottom: 5px;}
.right_block{width:auto;float:none;border:none;padding:0;padding-left:17px;}
.l_title, .r_title, .s_title{text-align:center;}
.r_title{display:block;}
.tovar_content{margin:0;}
.tovar_block{margin:10px 0;width:49%;padding:0;}
.acc{-webkit-column-count:3;-moz-column-count:3;column-count:3;display: none;}
.basket{margin:0 auto 8px auto;}
.sort > .t_sort:after {
	right: -14px;
}
.fltr_con {
	display: none;
}
.fltr_con.open {
	display: block;
}
}
@media only screen and (max-width:900px){.top_menu{background-position:46.5% 0;}
.right_block h1{background:none;padding:0;}
.cart_photo img{max-width:100%;}
}
@media only screen and (max-width:720px){
	.spis{float:none;display:inline-block;margin:0 10px 50px 10px !important;}
	.cat_n{text-align:center;}
	#footer{height:04px;margin:-104px auto 0;}
	#footer .site_size{height:auto;}
	.footer_left{float:left;}
	.footer_center_ind{display:none;}
	.sort{padding:15px 0 0 0;line-height:200%;}
	.top_menu{background:#14387f;}
	.top_menu a{padding:10px 7px 11px 7px;}
	.search{display:block;}
	.search_input{width:100%;padding:2px 0 2px 0px;text-indent:20px;}
	.search_but{right:0;}
	.search_block{width:100%;}
	.login_block{width:190px;margin:20px auto;display:block;}
	.acc{-webkit-column-count:2;-moz-column-count:2;column-count:2;}
	.tovar_block{width:100%;}
	#conteiner{overflow:hidden;}
	.razm{display:block;text-align:center;
		/*margin:10px 0;*/
	}
	.sort .buy_btn{width:50px;margin:0 auto 10px auto !important;text-align:center;display:block;}
	.page_block .buy_btn{margin-left:20px;}
	.sort_block .title{text-align:center;}
	.brend{margin:0;}
	.t_sort{
		display: block;
	}
	.right_block_new{
		float: none;
	}
	.sort .razm .s_inp label {
		width: 50px;
		text-align: right;
	}
	.sort .razm .s_inp input {
		width: 56px;
	}

}
@media only screen and (max-width:730px){
	.tovar_right_block{float:none;width:auto;}
	.tovar_left_block{float:none;width:auto;text-align:left;}
}
@media only screen and (max-width:620px){
	.tovar_right_block {
		padding-left: 0;
	}
	.price_buy {
		float: none;
		margin: 0 auto 10px;
	}
	.characteristic_top {
		float: none;
		padding-left: 0;
		width: 100%;
		max-width: 400px;
		margin: 0 auto 10px;
	}
	.tovar_right_block {
		padding-left: 0;
		margin-right: 0;
	}
	.product-block h1 {
		font-size: 20px;
	}
}
@media only screen and (max-width:600px){
	.table1 th{text-align:center;}
.table1 th span{display:none;}
.right_block h1{font-size:30px;}
.thumbnails iframe{max-width:100%;max-height:100%;}
.mob-menu{position:fixed;left:10px;top:10px;}
.mobMenuLink {
	position: fixed;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: url(../images/show-menu-icon.png) 0 0 no-repeat;
	z-index: 9;
}
.slider_block{display:none;}
.mob-menu{position:fixed;top:10px;left:10px;cursor:pointer;z-index:99999;}
.top_menu {display: none;}
/*.top_menu{height:225px;position:fixed;z-index:99999;left:-190px;width:180px;top:0;overflow-Y:scroll;}
.top_menu li{display:block;float:none;top:0;left:0;}
.top_menu a{padding:5px 7px 5px 7px;}*/
.footer_center_ind{padding:0;}
.tovar_right_block{float:none;width:auto;}
.tovar_left_block{float:none;width:auto;text-align:left;}
.price_buy{text-align:center;}
.price_buy p{float:none;display:inline-block;}
.product-block .form_style label{width:auto;text-align: left;}
.product-block .form_style .row {
	text-align: left;
}
.product-block input.but, .product-block .form_style input.but{float:none;margin-right:0;}
.form_style label{width:30%;}
.form_style input[type="text"], .form_style input[type="password"], .form_style textarea, .min_width{width:90% !important;}
.blocks_form .form_style label{width:100%;text-align:center;}
.sdvig{margin:0 !important;}
.regf label{width:100%;text-align:center;}
.regf .but{float:none !important;margin:0 !important;}
.regf input{width:75%;}
.l_title.js-filter-title p {
	background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibTIzLDEwaC04LjVjLTAuMywwLTAuNS0wLjItMC41LTAuNXYtOC41YzAtMC42LTAuNC0xLTEtMWgtMmMtMC42LDAtMSwwLjQtMSwxdjguNWMwLDAuMy0wLjIsMC41LTAuNSwwLjVoLTguNWMtMC42LDAtMSwwLjQtMSwxdjJjMCwwLjYgMC40LDEgMSwxaDguNWMwLjMsMCAwLjUsMC4yIDAuNSwwLjV2OC41YzAsMC42IDAuNCwxIDEsMWgyYzAuNiwwIDEtMC40IDEtMXYtOC41YzAtMC4zIDAuMi0wLjUgMC41LTAuNWg4LjVjMC42LDAgMS0wLjQgMS0xdi0yYzAtMC42LTAuNC0xLTEtMXoiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==) no-repeat left center;}
}
}
@media only screen and (max-width:540px){body{fint-size:11px;}
.right_block h1{font-size:25px;}
#inline_example2{width:auto !important;}
/*input.but, .form_style input.but{margin-left:0 !important;float:right;margin-right:8%;}*/
.blocks_form .form_style label{width:100%;text-align:center;}
.blocks_form input.but, .blocks_form .form_style input.but{float:none;margin:0;}
}
@media only screen and (max-width:480px){.blocks_form .form_style input, .blocks_form .form_style textarea{width:75% !important;padding:4px 0;}
.blocks_form .form_style select, .blocks_form .form_style input[type="file"]{width:75% !important;}
.blocks_form input.but, .blocks_form .form_style input.but{float:none;margin:0;margin-left:8px !important;}
.kol-vo{width:35px;}
.cart_photo p{display:none;}
.delete_from_busket{background:url(../pic/delete.png) center center no-repeat;width:25px;height:25px;font-size:1px;text-indent:9999px;display:block;}
.table1 th{padding:6px 0px;text-align:center;word-wrap:break-word;}
.table1 td{padding:6px 0px;}
.form_style .row table{width:64%;}
.form_style .row table td{padding:0;}
.current_tovar_model_cont iframe{max-width:100%;max-height:100%;}
.brend .s_inp{display:block;}
.footer_left{float:none;width:auto;text-align: center;}
.footer_left_ind {	text-align: left;}
.soc_ico{float:right;padding:20px 10px 0 0;}
.footer_right{margin:0px auto;float:none;padding:20px 0px 0 0;}
.logo{width:auto;text-align:center;}
.logo img{width:100%;max-width:312px;}
.news img{display:none;}
.page_list{float:none;margin:15px 0;display:block;}
}
@media only screen and (max-width:420px){
.tovar_img{width:25%;}
.tovar_info{width:65%;}
}
@media only screen and (max-width:320px){.right_block h1{font-size:20px;}
.acc{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.tovar_img{float:none;max-height:97%;max-width:97%;border:none;width:auto;height:auto;}
.tovar_info{width:auto;}
.tovar_img a{display:block;height:auto;}
.tovar_img img{}
}
.search{position:relative;}
.searchList{position:absolute;top:33px;left:0;width:100%;padding:10px;background:#fff;border:3px solid #3763AD;z-index:99;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.searchList li + li{margin-top:10px;}
.searchList li a{display:block;overflow:hidden;padding:5px;text-align:left;text-decoration:none !important;}
.searchList li a:hover{background:#D8F3FA;}
.srchPic{float:left;width:50px;margin-right:15px;line-height:0;}
.srchPic img{max-width:100%;}
.srchInfo{overflow:hidden;}
.srchInfo p{font:14px/16px Arial, Helvetica, sans-serif;color:#14387f;margin-bottom:5px;text-transform:capitalize;overflow:hidden;max-height:32px;}
.srchPrice{font:700 16px/20px Arial, Helvetica, sans-serif;color:#93c02d;}
.foundpure, .foundpure_style{
	float: right;	
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	padding: 0 5px;
	
	box-sizing: border-box;
	/*background-color: #3763ad;*/
	color: #fff;
	text-decoration: none;
	animation: bgchange 1s infinite;

}
.foundpure:hover, .foundpure_style:hover{color:#fff;}
@keyframes bgchange { 
50%{	
    background-color: #3763ad;
	
}
  100% { 
    background-color: #93c02d;
    
  } 
}

/*--------------  similar_items  ------------*/
	.similar_items_wrap {
		white-space: nowrap;
	}
	.similar_items_overflow {
		overflow: auto;
		white-space: nowrap;
	}
	.similar_items_title {
		padding-top: 20px;
	    border-top: 2px solid #A8D6FF;
	    font-size: 20px;
	    color: #93C02D;
	    font-weight: bold;
	}
	.similar_items_wrap .tovar_block {
		display: inline-block;
		vertical-align: top;
		width: 149px;
		white-space: normal;
		margin: 20px 10px 20px 0;
	}
	.similar_items_wrap .tovar_img {
		float: none;
		width: 143px;
    	height: 143px;
	}
	.similar_items_wrap .tovar_img a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.similar_items_wrap .tovar_info {
		width: 100%;
	}

.filter_drop{cursor:pointer; padding-right:10px;}
/*-------------------------------------------------------------- 22.12.2015 */
	.chosen_filters_block a {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #95B5EC;
		height: 26px;
		line-height: 26px;
		padding: 0px 25px 0 5px;
		border-radius: 5px;
		text-decoration: none;
		color: #000;
		background: #F0F9FD;
		position: relative;
		margin: 0 3px 5px 0;
		font-size: 12px;
	}

	.chosen_filters_block a:after {
		content: '\00d7';
		position: absolute;
		top: 5px;
		right: 5px;
		width: 16px;
		height: 16px;
		background: #E49393;
		border-radius: 50%;
		line-height: 15px;
		text-align: center;
		color: #F0F9FD;
		font-size: 13px;
		font-family: Tahoma;
	}

	.chosen_filters_block a:hover {
		border-color: #3763AD;
		background: #D6F2FE;
	}

	.chosen_filters_block a:hover:after {
		background: #E75757;
		color: #D6F2FE;
	}

/*-------------------  magnific  -----------------*/
	.popap_wrap{padding: 20px;}
	/* Magnific Popup CSS */
		.mfp-bg {
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  z-index: 1042;
		  overflow: hidden;
		  position: fixed;
		  background: #f1f1f1;
		  opacity: 0.8;
		  filter: alpha(opacity=80); }

		.mfp-wrap {
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  z-index: 1043;
		  position: fixed;
		  outline: none !important;
		  -webkit-backface-visibility: hidden; }

		.mfp-container {
		  text-align: center;
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  left: 0;
		  top: 0;
		  padding: 0 8px;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box; }

		.mfp-container:before {
		  content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle; }

		.mfp-align-top .mfp-container:before {
		  display: none; }

		.mfp-content {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 auto;
			text-align: left;
			background: #fff;
			border: 3px solid #686868;
			border-radius: 7px;
			min-width: 300px;
			max-width: 530px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			z-index: 1045; }

		.mfp-inline-holder .mfp-content,
		.mfp-ajax-holder .mfp-content {
		  width: 100%;
		  cursor: auto; }

		.mfp-ajax-cur {
		  cursor: progress; }

		.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
		  cursor: -moz-zoom-out;
		  cursor: -webkit-zoom-out;
		  cursor: zoom-out; }

		.mfp-zoom {
		  cursor: pointer;
		  cursor: -webkit-zoom-in;
		  cursor: -moz-zoom-in;
		  cursor: zoom-in; }

		.mfp-auto-cursor .mfp-content {
		  cursor: auto; }

		.mfp-close,
		.mfp-arrow,
		.mfp-preloader,
		.mfp-counter {
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  user-select: none; }

		.mfp-loading.mfp-figure {
		  display: none; }

		.mfp-hide {
		  display: none !important; }

		.mfp-preloader {
		  color: #CCC;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  text-align: center;
		  margin-top: -0.8em;
		  left: 8px;
		  right: 8px;
		  z-index: 1044; }
		  .mfp-preloader a {
		    color: #CCC; }
		    .mfp-preloader a:hover {
		      color: #FFF; }

		.mfp-s-ready .mfp-preloader {
		  display: none; }

		.mfp-s-error .mfp-content {
		  display: none; }

		button.mfp-close,
		button.mfp-arrow {
		  overflow: visible;
		  cursor: pointer;
		  background: transparent;
		  border: 0;
		  -webkit-appearance: none;
		  display: block;
		  outline: none;
		  padding: 0;
		  z-index: 1046;
		  -webkit-box-shadow: none;
		  box-shadow: none; }

		button::-moz-focus-inner {
		  padding: 0;
		  border: 0; }

		.mfp-close {
		  width: 44px;
		  height: 44px;
		  line-height: 44px;
		  position: absolute;
		  right: 0;
		  bottom: 0;
		  text-decoration: none;
		  text-align: center;
		  opacity: 0.65;
		  filter: alpha(opacity=65);
		  padding: 0 0 18px 10px;
		  color: #FFF;
		  font-style: normal;
		  font-size: 28px;
		  font-family: Arial, Baskerville, monospace; }
		  .mfp-close:hover,
		  .mfp-close:focus {
		    opacity: 1;
		    filter: alpha(opacity=100); }
		  /*.mfp-close:active { top: 1px; }*/

		.mfp-close-btn-in .mfp-close {
		  color: #333; }

		.mfp-image-holder .mfp-close,
		.mfp-iframe-holder .mfp-close {
		  color: #FFF;
		  right: -6px;
		  text-align: right;
		  padding-right: 6px;
		  width: 100%; }

		.mfp-counter {
		  position: absolute;
		  top: 0;
		  right: 0;
		  color: #CCC;
		  font-size: 12px;
		  line-height: 18px;
		  white-space: nowrap; }

		.mfp-arrow {
		  position: absolute;
		  opacity: 0.65;
		  filter: alpha(opacity=65);
		  margin: 0;
		  top: 50%;
		  margin-top: -55px;
		  padding: 0;
		  width: 90px;
		  height: 110px;
		  -webkit-tap-highlight-color: transparent; }
		  .mfp-arrow:active {
		    margin-top: -54px; }
		  .mfp-arrow:hover,
		  .mfp-arrow:focus {
		    opacity: 1;
		    filter: alpha(opacity=100); }
		  .mfp-arrow:before,
		  .mfp-arrow:after,
		  .mfp-arrow .mfp-b,
		  .mfp-arrow .mfp-a {
		    content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    left: 0;
		    top: 0;
		    margin-top: 35px;
		    margin-left: 35px;
		    border: medium inset transparent; }
		  .mfp-arrow:after,
		  .mfp-arrow .mfp-a {
		    border-top-width: 13px;
		    border-bottom-width: 13px;
		    top: 8px; }
		  .mfp-arrow:before,
		  .mfp-arrow .mfp-b {
		    border-top-width: 21px;
		    border-bottom-width: 21px;
		    opacity: 0.7; }

		.mfp-arrow-left {
		  left: 0; }
		  .mfp-arrow-left:after,
		  .mfp-arrow-left .mfp-a {
		    border-right: 17px solid #FFF;
		    margin-left: 31px; }
		  .mfp-arrow-left:before,
		  .mfp-arrow-left .mfp-b {
		    margin-left: 25px;
		    border-right: 27px solid #3F3F3F; }

		.mfp-arrow-right {
		  right: 0; }
		  .mfp-arrow-right:after,
		  .mfp-arrow-right .mfp-a {
		    border-left: 17px solid #FFF;
		    margin-left: 39px; }
		  .mfp-arrow-right:before,
		  .mfp-arrow-right .mfp-b {
		    border-left: 27px solid #3F3F3F; }

		.mfp-iframe-holder {
		  padding-top: 40px;
		  padding-bottom: 40px; }
		  .mfp-iframe-holder .mfp-content {
		    line-height: 0;
		    width: 100%;
		    max-width: 900px; }
		  .mfp-iframe-holder .mfp-close {
		    top: -40px; }

		.mfp-iframe-scaler {
		  width: 100%;
		  height: 0;
		  overflow: hidden;
		  padding-top: 56.25%; }
		  .mfp-iframe-scaler iframe {
		    position: absolute;
		    display: block;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
		    background: #000; }

		/* Main image in popup */
		img.mfp-img {
		  width: auto;
		  max-width: 100%;
		  height: auto;
		  display: block;
		  line-height: 0;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  padding: 40px 0 40px;
		  margin: 0 auto; }

		/* The shadow behind the image */
		.mfp-figure {
		  line-height: 0; }
		  .mfp-figure:after {
		    content: '';
		    position: absolute;
		    left: 0;
		    top: 40px;
		    bottom: 40px;
		    display: block;
		    right: 0;
		    width: auto;
		    height: auto;
		    z-index: -1;
		    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
		    background: #444; }
		  .mfp-figure small {
		    color: #BDBDBD;
		    display: block;
		    font-size: 12px;
		    line-height: 14px; }
		  .mfp-figure figure {
		    margin: 0; }

		.mfp-bottom-bar {
		  margin-top: -36px;
		  position: absolute;
		  top: 100%;
		  left: 0;
		  width: 100%;
		  cursor: auto; }

		.mfp-title {
		  text-align: left;
		  line-height: 18px;
		  color: #F3F3F3;
		  word-wrap: break-word;
		  padding-right: 36px; }

		.mfp-image-holder .mfp-content {
		  max-width: 100%; }

		.mfp-gallery .mfp-image-holder .mfp-figure {
		  cursor: pointer; }

		@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
		  /**
		       * Remove all paddings around the image on small screen
		       */
		  .mfp-img-mobile .mfp-image-holder {
		    padding-left: 0;
		    padding-right: 0; }
		  .mfp-img-mobile img.mfp-img {
		    padding: 0; }
		  .mfp-img-mobile .mfp-figure:after {
		    top: 0;
		    bottom: 0; }
		  .mfp-img-mobile .mfp-figure small {
		    display: inline;
		    margin-left: 5px; }
		  .mfp-img-mobile .mfp-bottom-bar {
		    background: rgba(0, 0, 0, 0.6);
		    bottom: 0;
		    margin: 0;
		    top: auto;
		    padding: 3px 5px;
		    position: fixed;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box; }
		    .mfp-img-mobile .mfp-bottom-bar:empty {
		      padding: 0; }
		  .mfp-img-mobile .mfp-counter {
		    right: 5px;
		    top: 3px; }
		  .mfp-img-mobile .mfp-close {
		    top: 0;
		    right: 0;
		    width: 35px;
		    height: 35px;
		    line-height: 35px;
		    background: rgba(0, 0, 0, 0.6);
		    position: fixed;
		    text-align: center;
		    padding: 0; } }

		@media all and (max-width: 900px) {
		  .mfp-arrow {
		    -webkit-transform: scale(0.75);
		    transform: scale(0.75); }
		  .mfp-arrow-left {
		    -webkit-transform-origin: 0;
		    transform-origin: 0; }
		  .mfp-arrow-right {
		    -webkit-transform-origin: 100%;
		    transform-origin: 100%; }
		  .mfp-container {
		    padding-left: 6px;
		    padding-right: 6px; } }

		.mfp-ie7 .mfp-img {
		  padding: 0; }

		.mfp-ie7 .mfp-bottom-bar {
		  width: 600px;
		  left: 50%;
		  margin-left: -300px;
		  margin-top: 5px;
		  padding-bottom: 5px; }

		.mfp-ie7 .mfp-container {
		  padding: 0; }

		.mfp-ie7 .mfp-content {
		  padding-top: 44px; }

		.mfp-ie7 .mfp-close {
		  top: 0;
		  right: 0;
		  padding-top: 0; }


/*-------------------------------------------------------------- 10.05.2016 */

/*.fHide .s_inp:nth-child(n+6) {
    display: none;
}*/

.fHideMore {
	display: inline-block;
	vertical-align: top;
	margin-left: 16px;
    margin-top: 5px;
	cursor: pointer;
	color: #14387f;
	border-bottom: 1px dashed;
}

.fHideMore:hover {
	color: #000;
}

/*02.06.2016---------WEZOM*/
	.desc h2 {
	    font-size:1.5em;
		line-height:1.1em;
	    margin:1em 0 .7em;
		}
	.desc p,
	.desc li {
	text-align: justify;
	}
	

/*-------------------------------------------------------------- 07.06.2016 */

.tovar_video {
	margin-bottom: 20px;
	text-align: center;
}	

.tovar-info-content {
	color: #3763AD;
	line-height: 1.5em;
}

.tovar-info {
	margin-bottom: 20px;
}

.tovar-info-content a {
	text-decoration: none;
}

.tovar-info__block {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

/*-------------------------------------------------------------- 11.06.2016 */

.product-block h1 {
	color: #93c02d;
}

/*------------------------------------------------  content  ----------------------*/
	.content {
	    font-family:Arial, Helvetica, sans-serif;
	    font-size:13px;
	    font-weight:normal;
	    font-style:normal;
	    line-height:1.3em;
	    position:relative; 
	    text-align:left;
	    text-decoration:none;
	    text-transform:none;
	    color:#797979;
	}
	.content a {
	    text-decoration:underline;
	    color:#326da6;
	}
	.content a:visited {
	    text-decoration:inherit;
	    color:#660099;
	}
	.content a:hover {
	    text-decoration:underline;
	    color:#d70017;
	}
	.content a:active {
	    text-decoration:underline;
	    color:#920111;
	}
	.content h1,
	.content h2,
	.content h3,
	.content h4,
	.content h5,
	.content h6 {
	    line-height:1.2em;
	    margin:1em 0 .7em;
	    color: #14387f;
	}
	.content h1 a,
	.content h2 a,
	.content h3 a,
	.content h4 a,
	.content h5 a,
	.content h6 a {
	    text-decoration:none;
	}
	.content h1:before,
	.content h2:before,
	.content h3:before,
	.content h4:before,
	.content h5:before,
	.content h6:before {
	    display:block;
	    clear:both;
	    height:0; 
	    content:'';
	}
	.content h1:first-child,
	.content h2:first-child,
	.content h3:first-child,
	.content h4:first-child,
	.content h5:first-child,
	.content h6:first-child {
	    margin-top:0;
	}
	.content h1 {
	    font-size:30px;
	}
	.content h2 {
	    font-size:26px;
	}
	.content h3 {
	    font-size:22px;
	}
	.content h4 {
	    font-size:18px;
	}
	.content h5 {
	    font-size:14px;
	}
	.content h6 {
	    font-size:11px;
	}
	.content ul,
	.content ol,
	.content dl,
	.content pre,
	.content p,
	.content table,
	.content blockquote,
	.content address,
	.content .iframeHolder {
	    margin:1.5em 0;
	}
	.content ul:first-child,
	.content ol:first-child,
	.content dl:first-child,
	.content pre:first-child,
	.content p:first-child,
	.content table:first-child,
	.content blockquote:first-child,
	.content address:first-child,
	.content .iframeHolder:first-child {
	    margin-top:0;
	}
	.content ul:last-child,
	.content ol:last-child,
	.content dl:last-child,
	.content pre:last-child,
	.content p:last-child,
	.content table:last-child,
	.content blockquote:last-child,
	.content address:last-child,
	.content .iframeHolder:last-child {
	    margin-bottom:0;
	}
	.content blockquote {
	    font-style:italic; 
	    padding:5px 1.5em;
	}
	.content ul,
	.content ol,
	.content dl,
	.content dd {
	    margin-left:1.5em;
	}
	.content ul ul,
	.content ul ol,
	.content ol ul,
	.content ol ol {
	    margin-top:0;
	}
	.content li {
	    margin:.2em 0; 
	    list-style-position:inside;
	}
	.content ul li,
	.content ol li {
	    list-style-type:inherit;
	}
	.content ul {
	    list-style-type:disc;
	}
	.content ul ul {
	    list-style-type:circle;
	}
	.content ul ul ul {
	    list-style-type:square;
	}
	.content ol {
	    list-style-type:decimal;
	}
	.content dl dt {
	    font-style:italic;
	}
	.content table {
	    width:100%;
	    border-spacing:0;
	    border-collapse:collapse;
	    border:1px solid #666; 
	    background-color:transparent;
	}
	.content table caption {
	    margin-bottom:.5em;
	    caption-side:top;
	}
	.content table tbody,
	.content table tfoot,
	.content table thead,
	.content table tr,
	.content table th,
	.content table td {
	    border:inherit;
	}
	.content table th,
	.content table td {
	    line-height:1em;
	    padding:10px;
	    text-align:left;
	    vertical-align:top;
	}
	.content table th {
	    font-weight:bold;
	    text-align:center;
	    background-color:#eee;
	}
	.content table.table-null,
	.content table.table-null th,
	.content table.table-null td {
	    border-color:transparent;
	}
	.content table.table-zebra,
	.content table.table-zebra th,
	.content table.table-zebra td {
	    border-color:transparent;
	}
	.content table.table-zebra tr:nth-child(even) {
	    background-color:#ddd;
	}
	.content pre,
	.content code,
	.content kbd,
	.content samp {
	    font-style:normal;
	    border:1px solid rgba(102, 102, 102, .2);
	    border-radius:.25em;
	    background-color:#eee;
	}
	.content pre {
	    line-height:1.5em;
	    padding:1em;
	}
	.content code,
	.content kbd,
	.content samp {
	    font-weight:bold;
	    line-height:1.2em;
	    display:inline-block;
	    padding:0 .375em; 
	    vertical-align:inherit;
	    letter-spacing:1px;
	    color:#fff;
	    text-shadow:0 0 2px rgba(0, 0, 0, .5);
	}
	.content code {
	    background-color:#0283bc;
	}
	.content kbd {
	    background-color:#6baa2b;
	}
	.content samp {
	    background-color:#41a2ff;
	}
	.content audio {
	    display:block;
	    width:100%;
	}

	.iframeHolder {
	    position:relative;
	    width:100%;
	    padding-top:56.25%;
	}
	.iframeHolder > iframe,
	.iframeHolder > video {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%; 
	    background:#000;
	}

	@media only screen and (max-width: 740px) {
	    .content h1 {
	        font-size:30px;
	    }
	    .content h2 {
	        font-size:27px;
	    }
	    .content h3 {
	        font-size:24px;
	    }
	    .content h4 {
	        font-size:21px;
	    }
	    .content h5 {
	        font-size:18px;
	    }
	    .content h6 {
	        font-size:15px;
	    }
	}

	@media only screen and (max-width: 600px) {
	    .content {
	        font-size:13px; 
	        line-height:1.3em;
	    }
	    .content h1 {
	        font-size:26px;
	    }
	    .content h2 {
	        font-size:23.92px;
	    }
	    .content h3 {
	        font-size:21.84px;
	    }
	    .content h4 {
	        font-size:19.76px;
	    }
	    .content h5 {
	        font-size:17.68px;
	    }
	    .content h6 {
	        font-size:15.6px;
	    }
	    .content ul,
	    .content ol,
	    .content dl {
	        margin-left:1em;
	    }
	    .content ul,
	    .content ol,
	    .content dl,
	    .content pre,
	    .content p,
	    .content table,
	    .content blockquote,
	    .content address,
	    .content .iframeHolder,
	    .content ul ul:last-child,
	    .content ul ol:last-child,
	    .content ol ul:last-child,
	    .content ol ol:last-child {
	        margin-top:1.3em;
	        margin-bottom:1.3em;
	    }
	}
.mm-opening #rh-badge {
	z-index: 0 !important;
}

.l_title.js_catalog_open_btn p {
	background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibTIzLDEwaC04LjVjLTAuMywwLTAuNS0wLjItMC41LTAuNXYtOC41YzAtMC42LTAuNC0xLTEtMWgtMmMtMC42LDAtMSwwLjQtMSwxdjguNWMwLDAuMy0wLjIsMC41LTAuNSwwLjVoLTguNWMtMC42LDAtMSwwLjQtMSwxdjJjMCwwLjYgMC40LDEgMSwxaDguNWMwLjMsMCAwLjUsMC4yIDAuNSwwLjV2OC41YzAsMC42IDAuNCwxIDEsMWgyYzAuNiwwIDEtMC40IDEtMXYtOC41YzAtMC4zIDAuMi0wLjUgMC41LTAuNWg4LjVjMC42LDAgMS0wLjQgMS0xdi0yYzAtMC42LTAuNC0xLTEtMXoiIGZpbGw9IiNGRkZGRkYiLz4KPC9zdmc+Cg==) no-repeat left center;}
}

