@charset "utf-8";
.tree { padding:0; margin:0}
.tree ul { padding:0 0 0 23px;display:none; clear:both}
.tree li { list-style:none; background: url(../images/ic_arr.png) 0 3px no-repeat; padding:0 0 0 0px; overflow:hidden; //zoom:1; position:relative;} /*Дефолтный маркер*/
.tree li.tm { background: url(../images/ic_minus.png) 0 3px no-repeat;} /*Маркер минус*/
.tree li.tp { background: url(../images/ic_plus.png) 0 3px no-repeat;} /*Маркер плюс*/
.tree .name { display:block; padding:7px 0 7px 27px; position:relative; z-index:10; font:12px/1.2em Tahoma, Geneva, sans-serif}
.tree a:hover { text-decoration:underline;}
.tree a.cur { color:#000; font-weight:700; text-decoration:none;}	
.tree span.show { width:24px; height:24px;display:inline-block; vertical-align:top; float:left; margin:0 -24px 0 0; position:relative; z-index:20;}
.tree li.tm>.p_wr>span.show, .tree li.tp>.p_wr>span.show { cursor:pointer;} 


.control_link { float:right; width:100%; margin:0 0 0 -100%; display:block; text-align:right; border-top:1px solid #f9f9f9; padding:0; white-space:nowrap; font-size: 0px;}
.tree .control_link span { display:inline-block; font:12px/1.2em Tahoma, Geneva, sans-serif; white-space:nowrap; text-align:center; padding:5px 0; border-left:1px dotted #d8d8d8;}
.tree .control_link a:hover {color:#f00}
.tree .control_link .ps_coll,.coll_title span { width:110px}
.control_wrap { display:inline-block;-moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -khtml-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; background:#f4f4f4; text-decoration:none; padding: 0 0 0 0; position:relative; z-index:20; overflow:hidden; //zoom:1;}
.coll_first { margin-left:-1px;}

.p_wr { display:block;}
.name_h .control_wrap { background-color:#fbfbfb;-moz-box-shadow:0 5px 5px #ccc;-webkit-box-shadow:0 5px 5px #ccc;-khtml-box-shadow:0 5px 5px #ccc;box-shadow:0 5px 5px #ccc;}
.tree .name_h {background:url(../images/hover_bg.gif) 24px 0 repeat-y}

.title_actions {}
.coll_title {
	float:right;
	text-align:right;
}
.coll_title span { display:inline-block; vertical-align:top; text-align:center; border-left:1px dashed #ccc;font:700 11px/30px Verdana, Geneva, sans-serif;}
.name_page {
	font:700 11px/30px Verdana, Geneva, sans-serif;
	text-align:center
}
.ps_table_title {
	background:#646465;
	height:30px;
	color:#fff;
	font-size:0;
}
