/*-RESET<<<-------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
caption, th, td {font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";} 
/*-GLOBAL<<<-------*/
h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;padding:0;}
h1{letter-spacing:0;font-size:26px;padding:0 0 15px 0; line-height:1.2em}
h2{letter-spacing:0;font-size:12px; padding:0 0 15px 0; line-height:1.2em}
h3{font-size:14px; font-weight:bold; padding:0 0 10px 0;}
strong, b {font-weight:700;}
em { font-style:italic;}
p,ul,ol{margin:0;padding:0 0 1em;}
ul,ol{padding:0 0 1.67em 3.33em;}
img{border:0;}
a,a:link,a:visited,a:hover{outline:none;}
form{display:inline;margin:0;padding:0;}
input,select,textarea{font:12px/1.2em Tahoma, Geneva, sans-serif;}
textarea{width:auto;line-height:1.67;}
label{cursor:pointer;}
table{border:0;margin:0;padding:0;}
.clear{clear:both;}
.floatleft{float:left;}
.floatright{float:right;}
.textleft{text-align:left;}
.textright{text-align:right;}
.textcenter{text-align:center;}
.textjustify{text-align:justify;}
.bold{font-weight:700;}
.italic{font-style:italic;}
.underline{border-bottom:1px solid;}
.upper{text-transform:uppercase;}
.top{vertical-align:top;}
.bottom{vertical-align:bottom;}
.size10{font-size:10px;}
.size11{font-size:11px;}
.size12{font-size:12px;}
.size13{font-size:13px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
table tr td,.nopadding{padding:0;}
.block { display:block;}
.rel { position:relative}
/*color*/
.white{color:#fff;}
.black{color:#000;}
.red{color:#f00}
.middle{ vertical-align:middle; display:inline-block; //display:inline; //zoom:1}

/*>TABLES<<<<------*/
table {border-collapse: collapse;}
.table1 { margin:0 0 15px 0; border-top:1px solid #000;}
.table1 th {background: #646465; color: #fff;font-weight: bold; padding: 6px 11px;text-align: left;border-right: 1px solid #dcdcdc;border-left: 1px solid #dcdcdc;}
.table1 td {padding: 6px 11px;border: 1px solid #f9f9f9; border-width:0 1px; vertical-align: top;line-height: 1.2em; }
.table1 tr.alt td {background: #f0f0f0;}
.table1 tr.over td {background: #f7f7f7;} 
.table1 tr.over  {outline:3px solid #e5e5e5}

/*>CATALOG<<<<------*/
.thumbnails{margin: -1em 0 0 -1em;text-align: center; clear:both;}
.thumbnail{text-decoration: none;display: -moz-inline-box;display: inline-block;vertical-align: top;text-align: center;margin: 2em 0 0 1em;}
.thumbnail .r {width: 145px;float: left;}
.thumbnails a.img_link { padding:0px; background:#fff;display:inline-block; font:0.1/0 Tahoma; border:3px solid #77a53a}
.thumbnails a.img_link:hover { background:#fff;border:3px solid #4c7416}
.thumbnails img { border:1px solid #4c7416;}
.thumbnails img:hover {border:1px solid #fff;}
.item_name {font:12px/1.2em Verdana, Arial, Helvetica, sans-serif; color:#333; padding:3px 0 3px 0}

/*>FORMS<<<<------*/
.form_style {}
.form_style input, .form_style textarea { border:1px solid #95bce2; background:#ecf6fc; font:12px/1.2em Arial, Helvetica, sans-serif; margin:3px 0;padding:2px}
.form_style input:focus, .form_style textarea:focus { border:1px solid #f00;}
.form_style textarea { width:80%}
.form_style .input_but input { padding:4px 8px 5px 8px;//padding:4px 0 5px; font:700 14px/1.2em Tahoma, Geneva, sans-serif; border:1px solid #612b1c; background:#fdc7b2 url(../images/but_bg.gif) 0 100% repeat-x; color:white; cursor:pointer;}
.form_style .input_but input:hover { border:1px solid #7a3b29}
.row { padding:0 0 5px 0}
.row label { width:100px; display:inline-block; padding:0 5px 0 0}
.row .error { color:#f00; display:inline-block; padding:0 0 0 5px; font-size:11px}
.row .help { padding:0 0 0 105px; color:green}
.row textarea { width:300px; vertical-align:top}
.form_style .input_but {padding:0 0 0 105px}

/*-PODVAL<<<-------*/
.footer_left {width:230px; margin:0 -230px 0 0; float:left; position:relative;}
.footer_left_ind {padding:40px 0 10px 40px; font:11px/1.2em  Tahoma, Geneva, sans-serif;}

.footer_center_ind {padding:10px 235px 0; font:11px/1.2em Tahoma, Geneva, sans-serif;}
.footer_center_ind img { margin:0;}
.footer_center_ind a { text-decoration:underline;}
.footer_center_ind a:hover {}

.footer_right { width:230px; margin:0 0 0 -230px; float:right; position:relative;}
.footer_right img {margin:0 0 -5px -5px; border:0;}
.footer_right a, .footer_right a:hover { padding:10px 0 10px 75px; text-decoration:none;font:11px/1.2em Tahoma, Geneva, sans-serif; display:block;}
.footer_right span.wezom_txt { color:#333; text-decoration:none; display:block}/*\txt\*/
.footer_right a:hover span.wezom_txt {color:#333;}
.footer_right a span { text-decoration:underline; color:#39F}/*\link\*/
.footer_right a:hover span { color:#f00}/*\hover\*/

/*>TOOLTIP<<<<------*/
/*
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #c2dff6;
	background-color: #dde7f8;
	padding:5px 5px 0;
	opacity: 0.85;
	font:normal 12px/1.4em Verdana, Geneva, sans-serif;
	margin:0;
	color:#444;
}
*/

/*-STRUCTURE<<<-------*/
/*min-height:738px;height:auto !important;height:738px;*/
body{background:#ececec;color:#444;font:12px/1.6em Verdana, Geneva, sans-serif;}
html,body {height:100%;margin:0;padding:0;}
.main_table {height:100%;}
ul { padding:0 0 15px 25px;}
li { list-style:disc;}
a { text-decoration:underline; color:#39C}
a:hover { text-decoration:underline; color:red;}
.site_size {width:980px;margin:0 auto; position:relative}
#wrapper {margin: 0 auto;min-height: 100%;height: auto !important;height: 100%;}
#header {}
#conteiner {padding: 0 0 100px; overflow:hidden; //zoom:1}
#footer {width: 980px;margin: -100px auto 0;height: 100px;  position:relative}
.cont_img {border:1px solid #307dae;margin:4px 10px 2px}
.content>img {border:1px solid #307dae; margin:4px 10px 2px; position:relative}

.menu { font-size:0; padding:10px 0 10px 0; text-align:center; margin:0 10px; position:relative;}
.menu li { display:inline-block; //display:inline; //zoom:1; 
 }
.menu a { display:inline-block; white-space:nowrap; height:25px; font:700 11px/25px Tahoma, Geneva, sans-serif; padding:0 10px; text-decoration:none; color:#656565; background:#f6f6f6;border:1px solid #fff;margin:0 2px 4px;-moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; text-shadow:0 1px 0 #fff; }
.menu a:hover {border:1px solid #ccc; background:#fafafa}
.menu ul { display:none}
.menu a.cur {background:#646465; color:#fff; text-shadow:none}

.menu2 { font-size:0; padding:0; text-align:center;background:#646465; padding:10px;-moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; margin:0 10px; border:1px solid #fff;}
.menu2 li { display:inline-block; //display:inline; //zoom:1; 
 }
.menu2 a { display:inline-block; white-space:nowrap; height:25px; font:700 11px/25px Tahoma, Geneva, sans-serif; padding:0 10px; text-decoration:none; color:#f1f1f1; background:#707070;border:1px solid #989898;margin:0 2px 4px;-moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; }
.menu2 a:hover { background:#888888; border:1px solid #555}
.menu2 a.cur {background:#f6f6f6; color:#656565;}
#adm_menu { padding:10px 0}
h1 {
	font:26px/1.2em 'Trebuchet MS', Arial, Helvetica, sans-serif;
	text-align:center;
}
.conteiner {
	margin:0 15px;
}

#content01,#content02,#content03 { background:#f6f6f6}
.shadetabs li a { background:#f6f6f6; border:1px solid #fff;-moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; color:#656565; text-decoration:none}
.shadetabs li a:hover{border:1px solid #ccc; background:#fafafa; text-decoration:none;}.title_1 {
	font:700 14px/1.2em Tahoma, Geneva, sans-serif;
	margin:0 0 5px 0;
}
.input_1, .text_1 {
	border:1px solid #999;
	font:14px/1.2em Tahoma, Geneva, sans-serif;
	padding:3px 0;
	width:100%;
	margin:0;
	text-indent:5px;
}
.input_1:focus,.text_1:focus {outline:3px solid #e5e5e5}
.item_1 {
	border-bottom:3px solid #FFFFFF;
	padding:10px 0;
}
.items_wrap {
	background:#F6F6F6;
	padding:0 10px;
	border:1px solid #fff;
}
.shadetabs li a.selected {
background:#646465 !important; color:#fff !important; text-shadow:none
}


/*\\\\\\\\\\\\\\14.03.2011\\\\\\\\\\\*/
.menu ul { font-size:0; padding:0; text-align:center;background:#646465; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;  border:1px solid #fff; position:absolute; width:100%; top:0; left:0;padding:10px 0;margin:0 0;}
.menu ul li { display:inline-block; //display:inline; //zoom:1; 
 }
.menu ul a { display:inline-block; white-space:nowrap; height:25px; font:700 11px/25px Tahoma, Geneva, sans-serif; padding:0 10px; text-decoration:none; color:#f1f1f1; background:#707070;border:1px solid #989898;margin:0 2px 4px;-moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; }
.menu ul a:hover { background:#888888; border:1px solid #555}
.menu ul a.cur {background:#f6f6f6; color:#656565;}

/*\\\\\\\\\\\\\\16.03.2011\\\\\\\\\\\*/
.table1 td {border-width:1px 1px;}
.table1 tr.alt td {background: none;}
.table1 tr.over td {background: #f7f7f7;}


/*\\\\\\\\\\\\\\19.03.2011\\\\\\\\\\\*/
.menu ul a { text-shadow:none; padding:0 9px;}
.menu a { padding:0 9px;}
.menu_left {}
.menu_left a { display:block; padding:0px 0 10px 0; border-bottom:1px dashed #ccc; margin:0 0 7px 20px;}
h3 { font:12px/1.2em Tahoma, Geneva, sans-serifa; padding:0}
.menu_block { background:url(../images/un_bg.png) 0 0 no-repeat; display:inline-block; //display:inline; //zoom:1; width:103px; height:103px; text-align:center; font:11px/1.2em Tahoma, Geneva, sans-serif; color:#000; text-decoration:none; vertical-align:top; margin:5px}
.menu_block:hover { text-decoration:none;}
.menu_block span { display:inline-block; //display:inline; //zoom:1; width:103px; height:69px;}

.control_razdel_ic {background:url(../images/control_razdel.png) 50% 0 no-repeat;}
.catalog_ic {background:url(../images/catalog.png) 50% 0 no-repeat;}
.photo_ic {background:url(../images/photo_ic.png) 50% 0 no-repeat;}
.guest_ic {background:url(../images/guest_ic.png) 50% 0 no-repeat;}
.news_ic {background:url(../images/news_ic.png) 50% 0 no-repeat;}
.vote_ic {background:url(../images/vote_ic.png) 50% 0 no-repeat;}
.users_ic {background:url(../images/users_ic.png) 50% 0 no-repeat;}
.options_ic {background:url(../images/costum_site_ic.png) 50% 0 no-repeat;}
.seo_ic {background:url(../images/coostum_seo.png) 50% 0 no-repeat;}h2 {
	font:20px/1.2em Arial, Helvetica, sans-serif;
}


/*\\\\\\\\\\\\\\01.04.2011\\\\\\\\\\\*/
.trigger_thumb { display:inline-block; position:relative; padding:0;}
.trigger_thumb img { height:20px}
.ico_min { width:20px; height:20px; background:url(../images/minimize_icon.png) 0 0 no-repeat; display:block; position:absolute; top:0; right:0;}
.ico_min:hover { background-position:0 -20px;}

.data1 { font: 10px/1.2em Tahoma; color: #999; }


/*\\\\\\\\\\17.05.2011\\\\\\\\\\\*/
#commentForm label {width:auto; white-space:nowrap;font:12px/1.2em Tahoma, Geneva, sans-serif;}
#commentForm input[type=text] {white-space:nowrap;color:#999; }
#commentForm input {vertical-align: middle; display: inline-block;}
#commentForm .search_sort label { margin:0 10px 0 0; vertical-align: middle; display: inline-block;}
.search_sort_item { display:inline-block; padding:0 15px; border-right:1px dotted #ccc;}
.item_last { display:inline-block; padding:0 15px;}
#commentForm .filter_sort label {margin:0 5px 0 0;}
.search_sort {display:block;padding:10px 5px;border:1px solid #fff;background:#f6f6f6;font-size:0;}
.filter_sort {padding:18px 0 0;font-size:0;}



/*31.08.2011*/
.table2 th { text-align:left; padding:10px 5px; font-weight:700;border:1px dashed #ccc;}
.table2 td { border:1px dashed #ccc; padding:0;}
.logo_2 {
	border:0 !important;
	float:right !important;
	margin-top:-40px !important;
    max-width:200px;
}




/*04.02.2012*/
.t_thumb {
	float:left;
	margin:0 5px 0 0;
	border:1px solid #ccc;
}
.t_descr {
	overflow:hidden;
	//zoom:1; 		
	padding:0 5px 0 0;
}
.t_name {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	max-height:3.6em;
	overflow:hidden;
	//zoom:1;
}
.t_item {
	overflow:hidden;
	//zoom:1; 		
	border:1px solid #ccc;
	width:280px;
	padding:5px;
	margin:5px 0 0 5px;
	background:#fff;
	cursor:pointer;
	display:inline-block;
	vertical-align:top;
	//display:inline;
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left;
}
.s_result .t_item {
	overflow:hidden;
	//zoom:1; 		
	border:1px solid #ccc;
	width:280px;
	padding:5px;
	margin:0;
	background:#fff;
	cursor:pointer;
	display:inline-block;
	vertical-align:top;
	//display:inline;
}
.b_title {
	background:#646465;
	color:#fff;
	padding:5px;
	text-align:center;
}
.t_selected {background:#c7c7c7; border:1px dashed #666;}
.t_wrap {
	padding:5px;
	clear:both;
	font-size:0;
	text-align:center;
}
.added {border:1px solid #f00; opacity:0.3}
.s_result {
	width:282px;
	position:absolute;
	top:23px;
	left:205px;
	z-index:10;
}
.s_tovar_poss {
	position:relative;
}
.tovars {
	padding:0 0 25px 0;
}
.pad_5 {
	padding:5px;
}
.t_sop {
	overflow:hidden;
	//zoom:1; 		
	margin:-5px 0 0 -5px;
}
.t_list {
	overflow:hidden;
	//zoom:1; 		
	margin:-5px 0 0 -5px;
}
input.red{
	border:none;
	background:none;
	font-weight:bold;
	outline:none;
}

.setStatus,.setStatus:hover{
	text-decoration:none;
}

.tree .control_link .setStatus span{
	border:none;
{